<div>
	<p>Philosophy
Up to this point I never felt the need to talk about a design / developmet philosophy, but my journey have been so frustrating in some cases that now it feels it is imperative to talk about this isssues.

I'm a designer at heart. This is what I've done all my life. In recent years I've been getting more and more involve in coding... almost naturally, the need of understanding the technology behind a screen has grown more and more... specially with new technologies which are gear toward designers.

the product that's what's important; you start here... then demographics, who is going to use it... then define the experience... the develop it. 

start with 'what I've seen' and 'what I think needs to be done (that's my philosophy)'

I feel it's very important based on my experience I pass my point of views to other colegues... but the main focus is to define a proper plan of action when you approach... it's unfortune how many people and companies are writing about process and almost invariable (except a few exceptions) nobody takes design into consideration, like the development process (and here I'm refering to developers, the people who write code) itself it is going to figure it all out.

When you build a website and you use a template you are not actually designing anything, don't fool yourself... someone else already design the user experience for you and set the constrains which you will have to work on. Adding images, color and changing a typeface... well anybody can do that. In fact that is the whole purpose of CMS let any body with no code or design experience build a mass production website.

The fisrt point I want to make is the big gap in the industry. It still amaze me how are companies still trying to figure out how to assamble a team of developer and designers together. In most cases (and base on my experience) designers a delegated to make things pretty once the ... choose the propers colors, typography and  

in my experience this product managers... this is one of those positions you find in the IT industry with the most undefined job description... I haven't met one single product managar in a company that makes any sense... in some cases they are developers (that stop coding for some reason) ... more meetings, more people between designers and developers... other cases they are not even developers... more fustration because in most cases this position add nothing positive to the process... nobody owns the project and in some instances people on this positions have more power than designers and developers themselves working on the project. How this makes any sense... and then this companies use agile methologies... is the purpose of agile actually minimize, friction and reduce unncessary meeting and people... they idea is that eveybody knows what they are doing... what ywould you use agile then?

developer don't care about golden section... and for God sake don't tell me you overlay the golden grid on top your web design as the modernist did on their posters in the 50s... we use computers and we build responsive design. Modular-scale is very easy to add to your workflow. 

Not to mention the people taking desicion without any knowledge about tehcnology or design... what about design techniques ?

The main problem in my opinion is not with developers and designers themselves but all this 

I have several years of experience doing all sort of design work, editorial, logos, games and Interactive Design. The latest makes the bulk of my experience.
From this experience I’ve learned how important it is to understand the capabilities of the technologies we are designing for.
New technologies reshape the way we consume information over and over again. To me it has become imperative to keep a cycle of training and learning new technologies and tools.
Some of these are;
Design; Adobe Creative Cloud.
Management; Git, Github.
Task Runner; Grunt, Gulp. 
Package Manager; Bower, NPM. 
Text editor; Sublime text.
Frameworks; AngularJS, Sass (with Susy), and Compass.
Code; HTML5, CSS3, SVG, Javascript, JQuery, D3.js and other libraries.

For work experience and education check LinkedIn (link here) profile.

Philosophy
if you don't code you have no saying on the user experience. color, typography and images are just graphical components of the user experience. If you are a designer and you don't code you are impact on the project will be very small.

You also have grids, layout, animations, structure of the site (routes, views), scales, ratios... all of these are design desicion that most of the time are delegated to developers... and you won't be able to manipulate with no code skills.

Concept design is a small fraction of the development process, in my experience most of the design actually happens during implementation. Your intial designs concepts will ALWAYS have flows, and it's exactly at this point where designers have to step in and take new design desicions... and you have to do this over and over again.

As happens now in most places developers will take over these design desicions... and they will have all the right to do it. 

There is plenty of other work to do as front end developer in a project that is not necessarily related to the user experience itself.

After a lot of consideration I concluded that it is key to include this section here. The core of my profesional experience has been in ottawa and seeing how the industry is evolving and how are we reacting on this side of the continent … lot of people writing about ux with no understaing of the technology… taking desicions for us, developer and designers… 

talk about why code, why designers should learn the technology, what do you think is happening with the industry... why tech is ready, why tech affect design; specially those elements that affect layout, grid, composition, color, fonts etc... almost invariable every time a new project is born the first thing people do is look for a developer, nobody cares or even think about the experience first... so your philosophy is, if you hire me the experience is defined first... technology may define how a product is built but design defines the quality of the experience... unless you don't care about the quality of the experience which is what happens in almost every instance.
- concept design, use thin bar and small text size for the text in the middle bar with the navigation when user is in large screens, then use big large text and thick bar in devices.
- functionality; show the menu in big fonts and or with images... another idea, the size of the circle containing the logo could change as you scroll, i.e. the circle/logo at first could take the whole screen and as you scroll it becomes smaller and move to the top of the screen to stay there as the menu link. the intro text could be inside the circle and disappear as well as the user scroll

Please note that my point of view is applied specifically to web design and development, I believe the same process should apply to any interactive design but I don't have as much experience developing apps for mobile devices.

- include a section called, philosophy and talk about why code, why designers should learn the technology, what do you think is happening with the industry... why tech is ready, why tech affect design; specially those elements that affect layout, grid, composition, color, fonts etc... almost invariable every time a new project is born the first thing people do is look for a developer, nobody cares or even think about the experience first... so your philosophy is, if you hire me the experience is defined first... technology may define how a product is built but design defines the quality of the experience... unless you don't care about the quality of the experience which is what happens in almost every instance.

</p>
</div>
<footer-content></footer-content>