<nav-menu></nav-menu>
<div class="portrait">
	<div>
		<img src="images/frank-castro-sitting-floor2.jpg" alt="Frank Castro, putting together a skill package for user experience.">
	</div>
</div>
<div class="aboutText">
	<div>
		<p>Senior Designer with 10+ years of experience in UX/UI/Web/Graphic design, Branding, transforming concepts into reality and changing existing applications into successful user-centered design experiences.</p>
		<p>Experience in interaction design, visual design, usability, user research, and information architecture.</p>
		<p>Ability to design and code small web applications, like this responsive website.</p>
		<p>Always seeking new ways in which user experience can make a measurable difference to sales and profits.</p>
<br/><br/>
		<h4>Practical Skills</h4>
<br/>
		<p>Art Direction, User Experience Design, User Interface Design, Typography, Prototyping, Wire-framing, Information Architecture, and Concept Design and Development.</p>
<br/><br/>
		<h4>Design Tools</h4>
<br/>
		<p>Familiar with prototyping tools like; Sketch, Axure, Invision, Adobe XD. Experience sketching, creating mock-ups, user journeys, navigation maps and producing prototypes the traditional way; pen and paper.</p>
<br/><br/>
		<h4>Code</h4>
<br/>
		<p>HTML, CSS (Sass with Susy), Javascript (AngularJS, JQuery, D3.js), Git, Github.</p>
	</div>
</div>