<div class="pageTitle">
	<h3>About</h3>
</div>

<div class="aboutText">
	<div>
		<p>I studied Industrial Design in Havana, Cuba. In 2000 I moved to Toronto, and a few years later to Ottawa, Canada. I have worked on diversed projects; developing games, creating interactive experiences and managing small teams of artists.</p>
		<p>In later years I have focused on designing and coding web applications.</p>
<br/>
		<h4>Skills:</h4>
<br/>
		<p>Creative direction, Digital experiences, Typography, Prototyping, Brand Development, Concept design and development, Adobe Cloud (Photoshop, Illustrator, XD, InDesign, Premier, others), Pen & paper.
		</p>
<br/>
		<h4>Tools:</h4>
<br/>
		<p>Version control and collaboration; Git, Github.</p>
		<p>Task Runner; Grunt, Gulp. </p>
		<p>Package Manager; Bower, NPM. </p>
		<p>Text editor; Sublime text.</p>
		<p>Frameworks; AngularJS, Sass (with Susy), Compass, Bootstrap.</p>
		<p>Code; HTML5, CSS3, Javascript (AngularJS, JQuery, D3.js), SVG, JSON, TSV, some PHP, MySQL.</p>
		<p>Interest; Angular2 and Typescript</p>
	</div>
</div>
<footer-content></footer-content>
<nav-menu></nav-menu>