<!-- <div class="introtext" ng-class="{ 'dimmed': scrollPos >= 44 }"> -->
<div class="introtext">
	<div>
		<p>Welcome to Frank’s personal website.</p>
		<p>Frank is an experienced designer and Creative Director living in Ottawa, Canada. He has designed many things in the past but nowadays he focuses on web design.</p>
		<p>He believes it is important to code his own designs so he creates websites and prototypes using AngularJS. Sometimes he thinks of himself as a programmer but he is just a designer who likes to code.</p>
		<p>In a few words, Frank builds websites. In more specific terms, he defines the quality of the user experience, the art direction, design the visual elements, and implement / manage the front end development of web applications for different platforms and devices.</p>
		<p>He is currently employed at Phirelight as Creative Director responsible for the user experience design and prototyping of RapidPhire; the company’s software solution for network security.</p>
	</div>
</div>

<div class="artContainerSpace"></div> <!-- this div creates the space you need to scroll down and hide the art on homepage -->

<!-- <div class="artContainer" ng-class="{ 'dimmed': scrollPos >= 120 }"> -->
<div class="artContainer" scroll-opacity>
	<div class="artbox">
		<img src="images/svg/art.svg"/>
	</div>
</div>

<footer-content></footer-content>

<nav-menu></nav-menu>