<intro-header></intro-header>

<div class="introtext" ng-class="{ 'dimmed': scrollPos >= 44 }">
	<div>
		<p>Welcome to Frank’s personal website.</p>
		<p>Frank is an experienced designer and Creative Director living in Ottawa, Canada. He has designed many things in the past but nowadays he focuses on web design.</p>
		<p>He believes it is important to code his own designs so he builds websites and prototypes using AngularJS. Sometimes he thinks of himself as a programmer but he is not, he is just a designer who likes to code.</p>
		<p>In more specific terms, Frank defines the quality of the user experience, the art direction, design the visual elements, and implement / manage the front end development of web applications for different platforms and devices.</p>
		<p>He is currently employed at Phirelight as Creative Director responsible for the user experience design and prototyping of RapidPhire; the company’s network security software solution.</p>
		<p>Scroll down to see some of the recent projects he has been working on.</p>
	</div>
</div>

<div class="introbg" ng-class = "{ 'shrinked': scrollPos >= 44 }"></div>

<div class="projectrow">
	<div class="leftcol" ng-class = "{ 'fixed' : scrollPos > 930 }">
		<h2>Recent Projects</h2>
	</div>

	<div class="projects" ng-repeat="item in items">
		<div class="devicesimg">
			<img ng-src="{{item.image1}}"/>
			<img parallax parallax-ratio="-0.3" ng-src="{{item.image2}}"/>
			<img parallax parallax-ratio="-0.5" ng-src="{{item.image3}}"/>
			<img parallax parallax-ratio="-0.7" ng-src="{{item.image4}}"/>
		</div>
		<div class="projectName">
			<p>{{item.project}}</p>
			<h2>{{item.type}}</h2>
		</div>
		<div class="projectInfo">
			<p>{{item.description}}</p>
			<p>{{item.role}}</p>
			<a ng-href="{{item.href}}">{{item.link}}</a>
		</div>
	</div>
</div>

<footer-content></footer-content>

<nav-menu></nav-menu>