<header home-func>
	<div class="content">
		<div class="bigbox">bigbox</div>
<!-- this div bigbox is the one to create the effect of a frame around the element, here is where you can put the svg home art work -->

		<div class="overlay"></div>
<!-- this div overlay is for the image in the background to create the blur effect, you need a second image with the blur effect for this to work -->
	</div>
</header>

<intro-header></intro-header>

<div class="introtext" ng-class="{ 'dimmed': scrollPos >= 44 }">
	<div>
<!-- 		<p>Welcome to Frank’s personal website.</p> -->
<!-- 		<p>Frank is an experienced designer and Creative Director living in Ottawa, Canada. He has designed many things in the past but nowadays he focuses on web design.</p> -->
		<p>He believes it is important to code his own designs so he builds websites and prototypes using AngularJS. Sometimes he thinks of himself as a programmer but he is just a designer who likes to code.</p>
		<p>In more specific terms, Frank defines the quality of the user experience, the art direction, design the visual elements, and implement / manage the front end development of web applications for different platforms and devices.</p>
		<p>He is currently employed at Phirelight as Creative Director responsible for the user experience design and prototyping of RapidPhire; the company’s network security software solution.</p>
		<p>Scroll down to see some of the recent projects he has been working on.</p>
	</div>
</div>

<div class="introbg" ng-class = "{ 'shrinked': scrollPos >= 44 }"></div>

<footer-content></footer-content>

<nav-menu></nav-menu>