<div class="pageTitle">
	<h2>Frank Castro</h2>
</div>
<div class="introtext">
	<div>
		<p>Welcome to my personal website. Here I keep a selection of some of my designs, and test my latest snippets of code.</p>
		<p>I am a designer and Creative Director living in Ottawa, Canada. I have several years of experience creating diverse design work, print media, games, interactive design and managing small teams of artists.</p>
		<p>From this experience I have learned the importance of understanding and being able to manipulate the technologies we are designing for.</p>
		<p>For the last few years I have focused on web design and development, more specifically, on defining the quality of the user experience, art direction, and manage the implementation of the front end development of web applications for different platforms and devices.</p>
		<p>I am currently employed at Phirelight as Creative Director, responsible for the user experience design and prototyping of RapidPhire, the company’s software solution for network security.</p>
	</div>
</div>

<div class="artContainerSpace"></div>

<div class="artContainer" scroll>
	<div class="artbox">
		<img src="images/svg/art3.svg"/>
	</div>
</div>

<!-- <div scroll class="ctasmall" ng-class="{ 'dimmed': scrollPos >= 60 }">
	<p>Scroll to reveal text</p>
</div> -->
<footer-content></footer-content>

<nav-menu></nav-menu>