<div class="pageTitle">
	<p>Frank Castro</p>
</div>

<div class="columns" ng-repeat="item in items">
	<div class="slickContainer">
		<div slick-carousel>
				<div ng-repeat="image in item.images">
					<a ng-href="{{item.href}}">
						<img ng-src="{{image.image}}" />
					</a>
				</div>
		</div>
		<div class="workText">
			<a ng-href="{{item.href}}">
				<p>{{item.type}}</p>
				<p>{{item.description}}</p>
			</a>
		</div>
	</div>
</div>


<!-- <div class="pageTitle">
	<p>Frank Castro</p>
	<p>Design & Code</p>
</div> -->

<!-- <div class="scrollSpace"></div> -->
<!-- <div class="introtext" parallax parallax-ratio="-0.6"> -->
<!-- <div class="introtextContainer" scroll>
	<div class="introtext" >
		<p>Hi, I'm a creative director, designer and interaction developer living in Ottawa, Canada. In brief I build websites. <br />More specifically, I design and code web applications using AngularJS, Sass and other tools. <br /><br />Here you'll find some prototypes I've created for different projects. <br />Other work on <a href="https://www.behance.net/frankcastro" target="_blank">Behance</a> and <a href="https://www.linkedin.com/in/frank-castro-22082110" target="_blank">LinkedIn</a>.</p>
	</div>
</div>
<div class="secondtextContainer">
	<div class="secondtext" >
		<p>Prototypes</p>
		<p>Olive & Well e-commerce website. Responsive SPA built on AngularJS, CSS3; Sass with Compass, Susy, HTML5, JSON, Modular-scale, SVG, Grunt, Git, Github, Adobe Typekit. Back-End Iroel Perez. <br /><a href="http://oandw.frankcastro.com/" target="_blank">View prototype</a></p>

		<p>Kipu Systems, homepage prototype. HTML5, CSS3; Sass with Compass, Susy, JQuery, Grunt, Adobe Typekit. Designed only for desktop (minimum 1900px wide). <br /><a href="http://kipu.frankcastro.com/" target="_blank">View prototype</a></p>

		<p>Interactive experiment with visibility polygons, using a javascript library by Byron Knoll. I created this only for desktop use (minimum 1500px wide).<br /><a href="http://vis-pol.frankcastro.com/" target="_blank">Launch</a></p>
	</div>
	<div class="imgDesc">
		<p>Image;</p><br /><p>prototype of a responsive</p><br /><p> e-commerce web application</p><br /><p> I designed, and coded in AngularJS.</p>
	</div>
</div> -->

<!-- <div class="bgImage"></div> -->

<footer-content></footer-content>

<nav-menu></nav-menu>