<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>E-commerce website (Redesign)</p>
		</div>
		<oandw-links></oandw-links>
	</div>
	<div class="content">
		<h4>Layout design - Smartphones.</h4>
		<p>On tap the area containing the product expands to show more information. This feature is only applied to this screen format to reduce scrolling.</p>
		<img src="images/work/oliveandwell/oliveandwell-smartphone-01-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, view of a smartphone layout design, home page and product sections. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-smartphone-02-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, smartphones layout design. Design and code by Frank Castro. www.frankcastro.com">

		<h4>Layout design - Tablets.</h4>
		<img src="images/work/oliveandwell/oliveandwell-tablet-01-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, view of the tablets layout design. Design and code by Frank Castro. www.frankcastro.com">


		<h4>Shopping cart sequence. Layout design for small screens (+320px wide)</h4>
		<img src="images/work/oliveandwell/oliveandwell-06-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<h4>Views of the Seasonings section on a tablet and smartphone.</h4>
		<img src="images/work/oliveandwell/oliveandwell-08-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<p>On tap the area containing the product expands to show more information. This feature is only applied to the small screen layout to reduce scrolling.</p>
		<img src="images/work/oliveandwell/oliveandwell-09-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<h4>Views of the Gifts section on a tablet and smartphone.</h4>
		<img src="images/work/oliveandwell/oliveandwell-10-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Gifts section on iPad. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-11-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, Gifts section on iPhone. Design and code by Frank Castro. www.frankcastro.com">
		<h4>Layout design for large screens (+1240px wide).</h4>
	</div>
</div>

<footer-content></footer-content>