<div class="header" nav-scroll>
	<div>
		<div class="projectTitle">
			<p>Web Application</p>
		</div>
		<work-link></work-link>
	</div>
</div>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>Rapidphire</p>
		</div>
		<rapidphire-links></rapidphire-links>
	</div>
	<div class="content">
	<h4>UI Elements</h4>
		<img src="images/work/rapidphire/rapidphire-assets-01-frankcastro.com.jpg" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
	</div>
	<rapidphire-links></rapidphire-links>
	<div class="spacer"></div>
</div>

<footer-content></footer-content>