<div class="pageTitle">
	<h2>Approach</h2>
</div>
<div class="approachText">
	<div>
		<h2>We design for people.</h2>
		<h2>Technology is just the medium.</h2> 
		<h2>Your demographic define the story.</h2>
		<h2>The story define the user experience.</h2>
		<h2>Design define the quality of the experience.</h2>
		<h2>Trust design process.</h2>
<!-- 		<p>There is so much I’d like to say about design process, but I’m afraid I can’t, at least not yet. I need a rational voice and not this bitchy voice inside my head that is constantly telling me I’m the only one who thinks designers should code, and how awful it is to work as a designer in a place with no design culture.
		</p>
		<p>The reality is that most places are like that, and designers need to find ways to approach this situation and articulate our needs if we really want to have a positive impact on the user experience of the products and services that get implemented. Every once in a while I run into a website talking about some of these topics. To some of these ‘articles’ I dedicate this section.
		</p>
	<br>
		<p><a href="http://www.markboulton.co.uk/">Design systems in difficult places</a></p>
		<p>"...unless design is valued then control is absent. Nobody has the authority to own this."</p>
	<br>
		<p><a href="https://ireneau.com/2015/08/19/ux-is-a-canary-in-a-coal-mine/">UX Is a Canary in a Coal Mine</a></p>
		<p>"...design quality is a lagging indicator of companies’ relationship to design and only tells you part of the story..."</p>
	<br>
		<p><a href="http://www.creativebloq.com/responsive-web-design/i-cannot-design-or-code-
		responsive-website-9122806">I cannot design or code a responsive website</a></p>
		<p>"Now I just hack and hack and trust that I'll arrive at a solution."</p>
		<p>Altough this one was written in 2012 most of its content is still relevant today.</p> -->
	</div>
</div>
<footer-content></footer-content>
<nav-menu></nav-menu>