<div class="contacts">
	<!-- <div class="contactInfo" ng-class = "{ 'swapcolor': scrollPos >= 44 }"> -->
	<div class="contactInfo">
		<div>
			<p>
				<a href="mailto:hello@frankcastro.com?Subject=Hello%20Frank" target="_top">hello @ frankcastro.com</a>
				<br />
				<a href="https://www.behance.net/frankcastro" target="_blank">Behance</a>
				<br />
				<a href="https://www.linkedin.com/in/frank-castro-22082110" target="_blank">LinkedIn</a>
				<br />
				<a href="https://twitter.com/frankUXdesign" target="_blank">Twitter</a>
				<br />
				<a href="https://www.pinterest.com/frankuxdesign/" target="_blank">Pinterest</a>
				<br />
				<a href="https://github.com/frank-castro" target="_blank">GitHub</a>
				<br />
				<a href="http://codepen.io/frankcastro/" target="_blank">Codepen</a>
				<br />
				<a href="https://jsfiddle.net/user/frankcastro/fiddles/" target="_blank">JSFiddle</a>
				<br />
				<a href="http://plnkr.co/users/frank-castro" target="_blank">Plnkr</a>
			</p>
		</div>
	</div>
</div>