<div class="contacts">
	<!-- <div class="contactInfo" ng-class = "{ 'swapcolor': scrollPos >= 44 }"> -->
	<div class="contactInfo">
		<div>
			<p><a href="mailto:hello@frankcastro.com?Subject=Hello%20Frank" target="_top">hello @ frankcastro.com</a></p>
			<p><a href="https://www.linkedin.com/in/frank-castro-22082110">LinkedIn</a></p>
			<p><a href="https://twitter.com/frankUXdesign">Twitter</a></p>
		</div>
		<div>
			<p><a href="https://github.com/frank-castro">GitHub</a></p>
			<p><a href="http://codepen.io/frankcastro/">Codepen</a></p>
			<p><a href="https://jsfiddle.net/user/frankcastro/fiddles/">JSFiddle</a></p>
			<p><a href="http://plnkr.co/users/frank-castro">Plnkr</a></p>
		</div>
	</div>
</div>