<div class="footer">
	<div class="socialicons">
		<a href="https://www.linkedin.com/in/frank-castro" target="_blank">
			<img src="images/linkedin.png" alt="Link to Frank Castro's LinkedIn account">
		</a>
		<a href="https://twitter.com/frankUXdesign" target="_blank">
			<img src="images/twitter.png" alt="Link to Frank Castro's Twitter account">
		</a>
		<a href="https://www.pinterest.com/frankuxdesign/" target="_blank">
			<img src="images/pinterest.png" alt="Link to Frank Castro's Pinterest account">
		</a>
		<!-- <a href="https://www.behance.net/frankcastro" target="_blank">Behance</a> -->
		<!-- <a href="https://www.instagram.com/frankuxdesign" target="_blank">Instagram</a> -->
		<!-- <a href="https://github.com/frank-castro" target="_blank">GitHub</a> -->
		<!-- <a href="http://codepen.io/frankcastro/" target="_blank">Codepen</a> -->
	</div>
	<div class="copyright">
		<p>Frankcastro.com © {{ today | date : "yyyy" }}</p>
	</div>
</div>