<div class="contacts">
	<div class="contactInfo">
		<div>
			<p>
				<a href="mailto:hello@frankcastro.com?Subject=Hello%20Frank" target="_top">hello@frankcastro.com</a>

				<a href="https://www.behance.net/frankcastro" target="_blank">Behance</a>

				<a href="https://www.linkedin.com/in/frank-castro-22082110" target="_blank">LinkedIn</a>

				<a href="https://twitter.com/frankUXdesign" target="_blank">Twitter</a>

				<a href="https://www.pinterest.com/frankuxdesign/" target="_blank">Pinterest</a>

				<a href="https://github.com/frank-castro" target="_blank">GitHub</a>

				<a href="http://codepen.io/frankcastro/" target="_blank">Codepen</a>

				<a href="https://jsfiddle.net/user/frankcastro/fiddles/" target="_blank">JSFiddle</a>

				<a href="http://plnkr.co/users/frank-castro" target="_blank">Plnkr</a>
			</p>
		</div>
	</div>
</div>

<footer>
	<div class="copyright">
		<p>© 2016. Frankcastro.com</p>
	</div>
</footer>