<!-- <div class="submenu" menu-active>
	<div>
		<p>
			<a href="#/greenspace">Characters</a>
		</p>
	</div>
	<div>
		<p>
			<a href="#/greenspace1">Habitats</a>
		</p>
	</div>
	<div>
		<p>
			<a href="#/greenspace2">Structures</a>
		</p>
	</div>
</div> -->


<div class="header" nav-scroll>
	<div class="menuContent">
		<div class="links" menu-active>
			<div>
				<p><a href="#/home">< Work</a></p>
			</div>
			<div>
				<p>e-Commerce website</p>
			</div>
		</div>
	</div>
	<div class="topright">
		<p><a href="#/rapidphire"><span>Next Project ></span></a></p>
	</div>
</div>