<div class="circle" ng-class="{'square' : isActive}" ></div>
<div class="barsWrapper" ng-class="{'close' : isActive}" ng-click="openWindow()">
	<div class="bar"></div>
	<div class="bar"></div>
	<div class="bar"></div>
</div>
<nav menu-toggle ng-class="{'navOpen' : isActive}">
	<ul menu-active>
		<li><a href="#/home">Home</a></li>
		<!-- <li><a href="#/current">Current Projects</a></li> -->
		<!-- <li><a href="#/past">Work</a></li> -->
		<!-- <li><a href="#/pastprint">Work</a></li> -->
		<li><a href="#/approach">Approach</a></li>
		<li><a href="#/code">Thoughts</a></li>
		<li><a href="#/about">About</a></li>
	</ul>
	<contact-mod></contact-mod>
</nav>
<div class="fclogo" >
	<a href="#/home"><img src="images/svg/fc-logo.svg" alt="Frank Castro logo | frankcastro.com" /></a>
</div>