<div class="header" nav-scroll>
	<div class="menuContent">
		<div class="links" menu-active>
			<div>
				<p><a href="#/home">Work</a></p>
			</div>
			<div>
				<p><a href="#/about">About</a></p>
			</div>
		</div>
		<div class="pageTitle">
			<p>Frank Castro</p>
		</div>
	</div>
	<div class="socialicons">
		<a href="https://www.linkedin.com/in/frank-castro" target="_blank">
			<img src="images/linkedin.png" alt="Pinterest link to Frank Castro's account">
		</a>
		<a href="https://twitter.com/frankUXdesign" target="_blank">
			<img src="images/twitter.png" alt="Pinterest link to Frank Castro's account">
		</a>
		<a href="https://www.pinterest.com/frankuxdesign/" target="_blank">
			<img src="images/pinterest.png" alt="Pinterest link to Frank Castro's account">
		</a>
	</div>
</div>