<div class="circle" ng-class="{'square' : isActive}"></div>
<!-- <div class="plusIcon" ng-class="{'rotate' : isActive}">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61 61"><path d="M31,0V30H61v1H31V61H30V31H0V30H30V0h1Z"/></svg>
</div> -->
<nav menu-toggle ng-class="{'navOpen' : isActive}">
	<ul menu-active>
		<li><a href="#/home">Home</a></li>
		<li><a href="#/current">Current Projects</a></li>
		<li><a href="#/past">Work</a></li>
		<!-- <li><a href="#/pastprint">Work</a></li> -->
		<li><a href="#/code">Code</a></li>
		<li><a href="#/approach">Approach</a></li>
		<!-- <li><a href="#/about">About</a></li> -->
	</ul>
	<contact-mod></contact-mod>
</nav>
<div class="fclogo" ng-click="openWindow()">
	<img src="images/svg/fc-logo.svg" alt="Frank Castro logo | frankcastro.com" />
</div>