<div class="header" nav-scroll>
	<div class="menuContent">
		<div class="links" menu-active>
			<div>
				<p><a href="#/home">< Work</a></p>
			</div>
			<div>
				<p>E-commerce</p>
			</div>
		</div>
	</div>
	<div class="topright">
		<p><a href="#/greenspace"><span>Next Project ></span></a></p>
	</div>
</div>


<!-- <div class="submenu" menu-active>
	<div>
		<p>
			<a href="#/oliveandwell">Website</a>
		</p>
	</div>
	<div>
		<p>
			<a href="#/oliveandwell1">Mobile</a>
		</p>
	</div>
	<div>
		<p>
			<a href="#/oliveandwell2">Desktop</a>
		</p>
	</div>
	<div>
		<p>
			<a href="#/oliveandwell3">Layouts</a>
		</p>
	</div>
</div> -->