<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>Web Application</p>
		</div>
		<!-- <h4>Rapidphire</h4> -->
		<rapidphire-links></rapidphire-links>
	</div>
	<div class="content">
		<p>rapidPHIRE is a context-aware cyber security Network Traffic Analysis platform for security analysts that provides situational awareness and remediation of cyber threats operating inside SMB and Enterprise networks. Using advanced network traffic analysis and machine learning, rapidPHIRE lets you track threats as they enter your network perimeter, watch lateral movement between endpoints, and develop a complete understanding of your security event history.<br/><br/>The following are diverse screenshots of the UI</p>
		<img src="images/work/rapidphire/rapidphire-design-01-frankcastro.com.jpg" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/rapidphire/rapidphire-design-02-frankcastro.com.jpg" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/rapidphire/rapidphire-swimlane-frankcastro.com.jpg" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/rapidphire/rapidphire-design-05-frankcastro.com.jpg" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/rapidphire/rapidphire-design-06-frankcastro.com.jpg" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
	</div>
	<div class="spacer"></div>
</div>

<footer-content></footer-content>