<div class="pageTitle bgGrad">
	<h2>Thoughts</h2>
</div>

<div class="aboutText">
	<div>
		<h4>Nobody for design.</h4>
		<em>Last edited: Jul 14, 2016</em><br /><br />
		<p><dfn>Definitions:</dfn></p>
		<p><dfn>UX designer: someone that understands how to integrate user needs into the emotive aspects of the experience, and provide viable design solutions.<br />
		Stakeholders; refers to the people that have influence or power over the outcome of a project but are not directly involved in the design and development process; a client or a CEO.</dfn></p><br />

		<p>When UX designers are presented with a project, there are usually two ways their work is required; either on an application that has already been started, or ideally, on the initial stage of a project to define core aspects of design.</p><br />

		<p>In many cases designers are called into a project once most of the functionality has been implemented. This usually happens when the stakeholders of a project realize that the application is not ‘looking’ the way is suppose to, the user interface is not as user friendly as it should be, or whatever else.</p><br />

		<p>Without a designer to create the graphic elements on the initial stage of the project, it is likely some CMS was needed to create the first iterations of the web application. It is also likely core aspects of design have been established at this point; layout, composition, information architecture, hierarchy, and some core functionality on the user interface. This process of developing an application leave no space for design implementation, what is left is mostly cosmetic work; change colours, images and typefaces. Making changes to existing core aspects of design take great deal of time, and sort of defeats the purpose of using a CMS in the first place. Based on the complexity of the application a new template is probably a better solution.</p><br />

		<p>Making a software application functional does not necessarily means you are taking care of the user experience. There are two distinctive processes running in parallel, one focus on functionality, another one on empathy. The latest focus on understanding the emotional states of other people to provide an engaging experience. To create this experience you need to understand your users, and what are they expecting to do with your application.</p><br />

		<p>When business needs for design are defined in anticipation, alternatives of design solutions can be presented to stakeholders through design concepts and prototypes. Core design desicions can be determined before implementation. During implementation flaws in the design emerge and some aspects of the design need to be reconsidered. It’s here where makes a great impact on the process and the user experience if designers can code and iterate to produce quick alternative design solutions.</p><br />

		<p>To embrace UX design time and resources needs to be allocated for this, so designers and developers can iterate, and explore viable design solutions.</p><br />

		<p>It's up to the stakeholders of the project to keep a focus on desired results of design, rather than specific asthetic details. Defining business needs for design sets clear expectations for everyone involved in a project, and keep a focus on the user needs. UX designers can work on different strategies to stay focus on user-centered design and make proper use of design principles.</p><br />

		<p>Without a plan to address user needs a project tends to fall into endless rounds of iterations where the application never ‘feels’ finished. Design lose its purpose, and at times it feels more like developing a technology than a product intended for someone else to use. In the meantime we are designing to please ourselves.</p><br />

		<p>Thanks for reading.</p>
	</div>
</div>
<footer-content></footer-content>
<nav-menu></nav-menu>