<div class="pageTitle">
	<h2>Thoughts</h2>
</div>

<div class="aboutText">
	<div>
		<p>Designing for nobody. (Last edited: Jul 8, 2016)
		definitions: 
		UX designer: someone that understands how to integrate brands into the emotive aspects of the experience, and establish the priority of the information, flow and functionality of the user interface. Code skills are ideal.
		stakeholders; refers to the people that have influence or power over the outcome of a project but are not directly involved in the design and development process; a client or a CEO.

		When UX designers are presented with a project, there are usually two ways things go, either you are asked to work on the design of an application that has already been started, or if you are lucky, you get to design something from scratch. If you get a creative brief on your hands at this point or you have the chance to put one together, I would say you are among the luckiest designers in the field. More likely this means your stakeholders have clear business goals, know what the application should be and do, and who the intended demographic is.

		But more likely there is no creative brief in UX design, specially if design is done in-house, and in many cases neither there is an equivalent document or process in place. Part of it I think is a lack of understanding how to embrace user experience design while developing a software application.

		In many cases designers are called into a project once most of the functionality has been implemented. This usually happens when the stakeholders of a project realize that the application is not ‘looking’ the way is suppose to, the user interface is not as user friendly as it should be, or they are falling behind the competition.

		With no designer to create the graphic elements on the initial stage of the project, it’s more likely some CMS was needed to create the first iterations of the web application. At this point most aspects of design have been established; layout, composition, information architecture, hierarchy, and so on… the only thing left is cosmetic work; change colours, images and typefaces. Without clear design goals, this process becomes a matter of personal preference, the designer has very little impact on the outcome, and more often you are designing to please your stakeholders.

		Developing a software application not necessarily implies that you are addressing user experience. There are two distinctive processes going on here, one focus on functionality, another one on empathy. The latest focus on understanding the emotional states of other people to provide an engaging experience. 

		To create this experience you need to understand your users, and what are they expecting to do with your application or site. Designers can use aspects of design to engage users through the use of; colour, typography, layout, composition, animation, graphic style, scale and hierarchy of information… where your application will be used, on what devices, etc. When business needs for design are defined in anticipation, alternatives of design solutions can be presented to stakeholders through design concepts and prototypes. Core design desicions can be determined before implementation. During implementation flaws in the design emerge and some aspects of the design need to be reconsidered. It’s here where makes a great impact on the process and the user experience if designers can code and iterate to produce quick alternative design solutions.

		To embrace UX design, designers need authority to take decisions on all aspects of design and work on viable solutions along with developers. This require a great shift on the way things get implemented. It goes beyond developers and designers decision to do so. It starts with the stakeholders of a project, and an understanding on how design affect dev process. Design requires time for iteration. A new hierarchy structure may be required within a team or company, and time and resources have to be allocated for this. 

		A creative brief helps to keep a focus on desired results of design rather than aesthetics. Defining business needs for design set clear expectations for everyone involved in a project, and keep a focus on the user needs. Designers can work on different strategies to stay focus on user-centered design and a proper use of design principles. Without a plan to address user needs the project more likely falls into endless rounds of iterations where the application never ‘feels’ finished. With no target market defined, design loose its purpose, more likely you are developing a technology not a product. May be someone will use it, who knows... in the meantime we are designing for nobody.
		Thanks for reading. 
		</p>
	</div>
</div>
<footer-content></footer-content>
<nav-menu></nav-menu>