<div class="pageTitle">
	<h2>Skills & Tools</h2>
</div>

<div class="aboutText">
	<div>
<!-- 		<p>I have several years of experience doing all sort of design work, print media, games, interactive design and managing small teams of artists. The latest makes the bulk of my experience.</p>
		<p>From this experience I’ve learned how important it is to understand and being able to manipulate the technologies we are designing for.</p> -->
		<h3>Skills:</h3>
<br/>
		<p>Typography, Concepting, Branding, UX, Problem solving, Prototyping, Adobe Cloud (Photoshop, Illustrator, InDesign, Premier, others), Pen & paper ;).
		</p>
<br/>
		<h3>Tools:</h3>
<br/>
		<p>Version control and collaboration; Git, Github.</p>
		<p>Task Runner; Grunt, Gulp. </p>
		<p>Package Manager; Bower, NPM. </p>
		<p>Text editor; Sublime text.</p>
		<p>Frameworks; AngularJS, Sass (with Susy), Compass, Bootstrap.</p>
		<p>Code; HTML5, CSS3, Javascript (AngularJS, JQuery, D3.js), SVG, JSON, TSV, some PHP, MySQL.</p>
<br/>		
		<p>About this site;</p>
		<p><a href="http://www.johnpapa.net/pageinspa/">SPA</a> built in AngularJS, with Sass (Modular-scale, Susy) and Compass, HTML5, CSS3, SVG graphics, Grunt, Git, Github. Angular-parallax for scrolling effect, and Slick.js for dragging and swiping (touch) effect. Most content is generated dynamically from JSON files. SVGs created in Adobe Illustrator, other images in Photoshop. Typeface from Adobe Typekit.</p>
	</div>
</div>
<footer-content></footer-content>
<nav-menu></nav-menu>