<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName" nav-scroll>
		<div>
			<p>Museum of Aviation App</p>
		</div>
		<amuse-links></amuse-links>
	</div>
	<div class="spacer2"></div>
	<div class="content">
		<p>An iPad version of the app was developed for museum staff and visitors. iPad with the app already installed were also available for rental at the front desk.</p>
		<img ng-src="images/work/casm/casm-07-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. Cockpit panoramic view. iPad view. iOS application UX design. By Frank Castro.">
		<img ng-src="images/work/casm/casm-08-frankcastro.com.png" alt="Canada Aviation and Space Museum. Cockpit panoramic view. iPad view, landscape. iOS application UX design. By Frank Castro. www.frankcastro.com">
		<img ng-src="images/work/casm/casm-09-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. iPad view, cockpits guide and technical information. iOS application UX design. By Frank Castro.">
	</div>
</div>

<footer-content></footer-content>