<div class="pageTitle">
	<h2>Work</h2>
</div>

<!-- <div scroll offset="20" scroll-class="dimmed" class="ctaDrag" ng-class="{ active: scrollClass }"> -->

<!-- <div scrolly class="ctaDrag" ng-class="{ dimmed : scrollPos >= 130 }"> -->

<!-- <div scroll-trigger class="ctaDrag" ng-class="{ dimmed: isDimmed }"> -->

<div class="ctaDrag">
	<p>Drag</p>
</div>

<div ng-repeat="item in items">
	<div class="workmodule" ng-repeat="image in item.bg" ng-style="'{{image.image}}' != '' && {'background-image':'url({{image.image}})'}">
		<div slick-carousel>
			<div ng-repeat="image in item.images">
				<img ng-src="{{image.image}}"/>
			</div>
		</div>
		<div class="worktext">
			<p>{{item.type}}</p>
			<p>{{item.description}}</p>
			<br/>
			<p><a ng-href="{{item.href}}">{{item.link}}</a></p>
		</div>
	</div>
</div>
<div class="pageLink">
	<h2>1 <a href="#/pastprint">2</a></h2>
</div>

<footer-content></footer-content>

<nav-menu></nav-menu>