<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>Social Network Game</p>
		</div>
		<greenspace-links></greenspace-links>
	</div>
	<div class="content">
		<img src="images/work/greenspace/greenspace-game-island-desktop-frankcastro.com.jpg" alt="GreenSpace social network game, close up of an island. View inside a desktop screen. www.frankcastro.com">
		<h4>Environments</h4>
		<p>Floating islands were illustrated representing different areas of the planet, they were accessible as the players progressed in the game. The area of the surface was calculated using a grid. Each square in the grid contained another grid of 9x9 squares. One of these squares was the equivalent to the size of the main character.</p>
		<img src="images/work/greenspace/greenspace-game-islands-frankcastro.com.jpg" alt="GreenSpace game, 4x3 grid with views of different types of islands used ingame. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-game-island1-frankcastro.com.jpg" alt="GreenSpace island isometric view. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-game-island2-frankcastro.com.jpg" alt="GreenSpace island isometric view. www.frankcastro.com">
		<h4>Trees</h4>
		<p>Some areas on the islands had spots with tree fossils. These could be respawn and grown into adult trees. On adult stage trees attract different species (NPCs) that help the player to collect materials and currency needed in the game. Other trees were grown or were discover through different mechanics of the game.</p>
		<img src="images/work/greenspace/greenspace-game-tree-baobab-frankcastro.com.jpg" alt="GreenSpace game, Baobab tree in different stages. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-game-tree-saturn-frankcastro.com.jpg" alt="GreenSpace game, Saturn tree in different stages. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-game-tree-willow-frankcastro.com.jpg" alt="GreenSpace game, Willow tree in different stages. www.frankcastro.com">
		<p>Other trees were given to players through contests and special missions, or were available in the game store.</p>
		<img src="images/work/greenspace/greenspace-game-trees-frankcastro.com.jpg" alt="GreenSpace game, other tree samples. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>