<div class="header" nav-scroll>
	<div>
		<div class="projectTitle">
			<p>Websites</p>
		</div>
		<work-link></work-link>
	</div>
</div>

<div class="workContainer">
	<div class="projectName">
		<p>App and theme store</p>
	</div>
	<div class="content">
		<img src="images/work/websites/websites-berrylab-01-frankcastro.com.jpg" alt="Website design, Art direction, and UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/websites/websites-berrylab-02-frankcastro.com.jpg" alt="Website design, Art direction, and UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/websites/websites-berrylab-03-frankcastro.com.jpg" alt="Website design, Art direction, and UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/websites/websites-berrylab-04-frankcastro.com.jpg" alt="Website design, Art direction, and UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/websites/websites-blinds-frankcastro.com.jpg" alt="Website design, Art direction, and UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/websites/websites-facetograce-frankcastro.com.jpg" alt="Website design, Art direction, and UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/websites/websites-various-01-frankcastro.com.jpg" alt="Website design, Art direction, and UX design by Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>