<nav-menu></nav-menu>
<div class="workContainer">
	<div class="spacer"></div>
	<div class="content">
		<h1>Print media</h1>
		<br/>
		<p>Single and double page ads. 2005 - 2007</p>
		<img ng-src="images/work/print/ads1-frankcastro.com.png" alt="Ad design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/print/ads2-frankcastro.com.png" alt="Poster design. By Frank Castro. www.frankcastro.com">
	</div>
	<br/>
	<div class="content">
		<p>Posters and flyers for Mercury Lounge. Night club in Ottawa, Canada. 2007 - 2011</p>
		<img ng-src="images/work/print/posters1-frankcastro.com.png" alt="Poster design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/print/posters2-frankcastro.com.png" alt="Poster design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="nextProject">
		<p><a href="#/logos"><span>Next Project</span></a></p>
	</div>
</div>

<footer-content></footer-content>