<div class="header" nav-scroll>
	<div>
		<div class="projectTitle">
			<p>Print</p>
		</div>
		<work-link></work-link>
	</div>
</div>

<div class="workContainer">
	<div class="projectName">
		<p>Ads</p>
	</div>
	<div class="content">
		<img src="images/work/print/ads1-frankcastro.com.jpg" alt="Ads. www.frankcastro.com">
		<img src="images/work/print/ads2-frankcastro.com.jpg" alt="Ads. www.frankcastro.com">
		<h4>Posters</h4>
		<img src="images/work/print/posters-frankcastro.com.jpg" alt="Posters. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>