<div class="workContainer">
	<sezlik-links></sezlik-links>
	<div class="spacer"></div>
	<div class="content">
		<p>Some print media designs I've produced in recent years.</p>
		<img ng-src="images/work/print/ads1-frankcastro.com.png" alt="Ad design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/print/ads2-frankcastro.com.png" alt="Poster design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/print/poster1-frankcastro.com.png" alt="Poster design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/print/poster2-frankcastro.com.png" alt="Poster design. By Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>