<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>E-commerce</p>
		</div>
		<oandw-links></oandw-links>
	</div>
	<div class="content">
		<h4>Layout design - Large breakpoint (+1240px).</h4>
		<img src="images/work/oliveandwell/oliveandwell-desktop-01-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, view of a smartphone layout design, home page and product sections. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-desktop-02-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, smartphones layout design. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-desktop-03-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, view of the tablets layout design. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-desktop-04-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-desktop-05-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-desktop-06-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>