<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>E-commerce website (Redesign)</p>
		</div>
		<oandw-links></oandw-links>
	</div>

	<div class="content">
		<h4>Olive and Well. Home page layout design.</h4>
		<img src="images/work/oliveandwell/oliveandwell-01-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">

		<p>Olive and Well store is located in Chicago, Illinois. At the store, customers are able to taste their premium olive oils and balsamic vinegars before making their selection. Oils and vinegars are bottled from the same Italian Fusti (stainless steel tank) that they sample at the store. Aspects of the design reflect on this idea, products are displayed with an emphasis on the flavour rather than the bottle itself.</p>
		<h4>View of the home page on a smartphone screen format.</h4>
		<img src="images/work/oliveandwell/oliveandwell-02-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<h4>The home page on tablet and desktop formats.</h4>
		<img src="images/work/oliveandwell/oliveandwell-03-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<h4>Fused and Infused section. Extra virgin olive oils.</h4>
		<img src="images/work/oliveandwell/oliveandwell-04-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<p>On tap the area containing the product expands to show more information. This feature is only applied to the small screen layout to reduce scrolling.</p>
		<img src="images/work/oliveandwell/oliveandwell-05-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">

		<h4>Shopping cart sequence. Layout design for small screens (+320px wide)</h4>
		<img src="images/work/oliveandwell/oliveandwell-06-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<h4>Views of the Seasonings section on a tablet and smartphone.</h4>
		<img src="images/work/oliveandwell/oliveandwell-08-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<p>On tap the area containing the product expands to show more information. This feature is only applied to the small screen layout to reduce scrolling.</p>
		<img src="images/work/oliveandwell/oliveandwell-09-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<h4>Views of the Gifts section on a tablet and smartphone.</h4>
		<img src="images/work/oliveandwell/oliveandwell-10-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Gifts section on iPad. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-11-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, Gifts section on iPhone. Design and code by Frank Castro. www.frankcastro.com">
		<h4>Layout design for large screens (+1240px wide).</h4>
		<img src="images/work/oliveandwell/oliveandwell-12-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Design desktop version. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-13-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Design desktop version. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-14-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Design desktop version. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-15-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Design desktop version. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-16-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Design desktop version. Design and code by Frank Castro. www.frankcastro.com">

		<p>I designed and coded this web application from scratch. The current live version (wwww.oliveandwell.com) was a necessary release, it has been through a series of iteration, and it'll be replace with this new design.</p>
	</div>
</div>

<footer-content></footer-content>