<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>GreenSpace</p>
		</div>
		<greenspace-links></greenspace-links>
	</div>
	<div class="content">
		<p>These represent the four energy types in the game; wind, water, geothermal, and solar. Players must build at least one of these energy structures to produce the energy the main character needed to clean each floating island. Each structure could be upgraded four times. Upgrades increased the eficiency of the structure, producing more energy in less time.</p>
		<img src="images/work/greenspace/greenspace-game-energy-structures-frankcastro.com.jpg" alt="GreenSpace social network game, Energy structures and upgrades. www.frankcastro.com">		
		<h4>Other structure types</h4>
		<img src="images/work/greenspace/greenspace-game-structures-frankcastro.com.jpg" alt="GreenSpace game, other structures types; Research centre, Pinnacle, Observatory, Seed lab, etc. www.frankcastro.com">
		<h4>Garbage types, processing and restoring</h4>
		<p>As the complexity of the gameplay increased, players encountered larger and harder types of garbage to clean. Most garbage could be recycled at the Processing plant, but players were also able to restore larger objects, and use them as part of the gameplay.<br /> The recycled garbage provided players with new materials and currencies needed for different game mechanics. Some garbage required special tools in order to be removed. Players could build new tools and create new materials in the Workshop.</p>
		<img src="images/work/greenspace/greenspace-game-garbage-frankcastro.com.jpg" alt="GreenSpace game, garbage types and Processing plant. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-game-big-garbage-frankcastro.com.jpg" alt="GreenSpace game, big garbage types and the Workshop. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>