<div class="header">
	<div class="projectTitle">
		<p>Social Network Game (Structures and garbage types)</p>
	</div>
	<work-link></work-link>
</div>

<div class="workContainer">
	<div class="projectName">
		<p>GreenSpace</p>
	</div>
	<div class="content">
		<h4>Energy structures and upgrades</h4>
		<p>These represent the four energy types in the game; wind, water, geothermal, and solar. Players must build at least one of these energy structures to produce the energy the player character needs to clean the space. Each structure can be upgraded four times. Each upgrade increase the eficiency of the structure, producing more energy in less time.</p>
		<img src="images/work/greenspace/greenspace-game-energy-structures-frankcastro.com.jpg" alt="GreenSpace social network game, Energy structures and upgrades. www.frankcastro.com">
		<h4>Other structure types</h4>
		<img src="images/work/greenspace/greenspace-game-structures-frankcastro.com.jpg" alt="GreenSpace game, other structures types; Research centre, Pinnacle, Observatory, Seed lab, etc. www.frankcastro.com">
		<h4>Garbage types, processing and restoring</h4>
		<p>As the complexity of the gameplay increase players encounter larger and harder types of garbage to clean. Most garbage can be recycled at the Processing plant, but larger objects sometimes can be restored.<br /> The recycled garbage provide players with new materials and currencies needed for different game mechanics. Some garbage require special tools in order to be removed. Players can build new tools and create new materials in the Workshop.</p>
		<img src="images/work/greenspace/greenspace-game-garbage-frankcastro.com.jpg" alt="GreenSpace game, garbage types and Processing plant. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-game-big-garbage-frankcastro.com.jpg" alt="GreenSpace game, big garbage types and the Workshop. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>