<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName" nav-scroll>
		<div>
			<p>Websites</p>
		</div>
		<websites-links></websites-links>
	</div>
	<div class="spacer2"></div>
	<div class="content">
		<img src="images/work/websites/websites-blinds-frankcastro.com.jpg" alt="Website design, Art direction, and UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/websites/websites-facetograce-frankcastro.com.jpg" alt="Website design, Art direction, and UX design by Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>