<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName" nav-scroll>
		<div>
			<p>Web Application</p>
		</div>
		<d3m-links></d3m-links>
	</div>
	<div class="spacer2"></div>
	<div class="content">
		<p>Below - UX/UI design concept for the Rack diagram view. Created in Adobe XD. Visit link to open interactive prototype.<a href="https://xd.adobe.com/view/c2ddaba5-a726-4112-564c-9543380345d6-b4ec/" target="_blank">Visit</a></p>
		<img src="images/work/d3m/rack-view.png" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<p>Below - Topology diagram concept - connections functionality redesign. Created in Adobe XD. Visit link to open interactive prototype.<a href="https://xd.adobe.com/view/955cca2f-67fb-4b4f-64ba-25284c9f924f-e36d/" target="_blank">Visit</a></p>
		<img src="images/work/d3m/topology-diagram.png" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
	</div>
	<div class="spacer"></div>
</div>
<footer-content></footer-content>