<div class="header" nav-scroll>
	<div>
		<div class="projectTitle">
			<p>Prototypes</p>
		</div>
		<work-link></work-link>
	</div>
</div>

<div class="workContainer">
	<div class="projectName">
		<p>Kipu</p>
	</div>
	<div class="websiteLink">
		<p><a href="http://www.kipu.frankcastro.com" target="_blank">Visit</a></p>
		<p>Use 1240px wide screen to Open</p>
	</div>
	<div class="content">
		<img src="images/work/prototypes/kipu-frankcastro.com.jpg" alt="Dymon Storage iOS application. UX design by Frank Castro. www.frankcastro.com">
		<p>Home page design concept. Built for desktop only, not responsive.</p>
	</div>

	<div class="projectName">
		<p>Rapidphire</p>
	</div>
	<div class="websiteLink">
		<p><a href="http://www.rapidphire.frankcastro.com" target="_blank">Visit</a></p>
		<p>Use 1240px wide screen to Open</p>
	</div>
	<div class="content">
		<img src="images/work/prototypes/rapidphire-frankcastro.com.jpg" alt="Dymon Storage iOS application. UX design by Frank Castro. www.frankcastro.com">
		<p>Example of a prototype we created during concept development to test different aspects of interaction, in this case, headers functionality and scroll events. This is an old prototype, this design never went into final development. Desktop use only, not responsive.</p>
	</div>

	<div class="projectName">
		<p>Visibility polygons</p>
	</div>
	<div class="websiteLink">
		<p><a href="http://www.vis-pol.frankcastro.com" target="_blank">Visit</a></p>
		<p>Use 1240px wide screen to Open</p>
	</div>
	<div class="content">
		<img src="images/work/prototypes/polygons-frankcastro.com.jpg" alt="Playing with visibility polygons. Experiment by Frank Castro. www.frankcastro.com">
		<p>I found this javascript library in Github, made by Byron Knoll. This is usually used in video games, I'm just experimenting with it. It takes a few seconds to load. (Only Chrome or Safari and on screens over 1240px wide.) Drag the red circle around.</p>
	</div>
</div>

<footer-content></footer-content>