<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<p>Prototype Samples</p>
		<h4>Kipu Homepage</h4>
	</div>
	<div class="content prototype">
		<img src="images/work/prototypes/kipu-frankcastro.com.jpg" alt="Dymon Storage iOS application. UX design by Frank Castro. www.frankcastro.com">
		<p>Prototype of a home page - not responsive. Design and code. Once the initial design concepts where approved, I coded this page in AngularJS to test simultaneous events on scroll; parallax and resizing a large image at the top of the page as the user scroll down. <a href="http://www.kipu.frankcastro.com" target="_blank">Visit</a><span> This prototype is visible on desktop only.</span></p>
	</div>

	<div class="projectName">
		<h4>Rapidphire Web Application</h4>
	</div>
	<div class="content prototype">
		<img src="images/work/prototypes/rapidphire-frankcastro.com.jpg" alt="Dymon Storage iOS application. UX design by Frank Castro. www.frankcastro.com">
		<p>Example of a prototype - not responsive. Design and code. One of several prototypes iterations I created during concept development to test different aspects of interaction. In this case, headers functionality and scroll events. <a href="http://www.rapidphire.frankcastro.com" target="_blank">Visit</a><span> This prototype is visible on desktop only.</span></p>
	</div>

	<div class="projectName">
		<h4>Visibility Polygons Exercise</h4>
	</div>
	<div class="content prototype">
		<img src="images/work/prototypes/polygons-frankcastro.com.jpg" alt="Playing with visibility polygons. Experiment by Frank Castro. www.frankcastro.com">
		<p>This one was just for fun. When I first saw this library, I was curious how many polygons I could use and still make it work. Built from javascript library in Github by Byron Knoll. It takes a few seconds to load. (Please use CHROME or SAFARI). Drag the red circle to see the lines redrawing. It resembles a spot light casting a shadow.<a href="http://www.vis-pol.frankcastro.com" target="_blank">Visit</a><span> This prototype is visible on desktop only.</span></p>
	</div>
</div>

<footer-content></footer-content>