<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName prototype">
		<p>Prototype Samples</p>
		<p>Kipu Website<span>Desktop only</span></p>
	</div>
	<div class="content">
		<img src="images/work/prototypes/kipu-frankcastro.com.jpg" alt="Dymon Storage iOS application. UX design by Frank Castro. www.frankcastro.com">
		<p>Prototype of a home page design concept. Not responsive. Built in AngularJS. <a href="http://www.kipu.frankcastro.com" target="_blank">Visit</a></p>
	</div>

	<div class="projectName prototype">
		<p>Rapidphire Web Application<a href="http://www.rapidphire.frankcastro.com" target="_blank">Visit</a><span>Built for desktop only</span></p>
	</div>
	<div class="content">
		<img src="images/work/prototypes/rapidphire-frankcastro.com.jpg" alt="Dymon Storage iOS application. UX design by Frank Castro. www.frankcastro.com">
		<p>Example of a prototype we created during concept development to test different aspects of interaction, in this case, headers functionality and scroll events. This is an old prototype, this design never went into final development. Desktop use only, not responsive.</p>
	</div>

	<div class="projectName prototype">
		<p>Visibility Polygons Exercise<a href="http://www.vis-pol.frankcastro.com" target="_blank">Visit</a><span>Built for desktop only</span></p>
	</div>
	<div class="content">
		<img src="images/work/prototypes/polygons-frankcastro.com.jpg" alt="Playing with visibility polygons. Experiment by Frank Castro. www.frankcastro.com">
		<p>Testing visibility polygon. Built using javascript library in Github by Byron Knoll. It takes a few seconds to load. (Please use Chrome or Safari). Drag the red circle.</p>
	</div>
</div>

<footer-content></footer-content>