<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<p>E-commerce website (WIP)<a href="https://www.oliveandwell.com" target="_blank">Visit</a></p>
	</div>
	<div class="content">
		<img src="images/work/oliveandwell/oliveandwell-01-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">

		<p>Olive and Well store is located in Chicago, Illinois. At the store, customers are able to taste their premium olive oils and balsamic vinegars before making their selection. Oils and vinegars are bottled from the same Italian Fusti (stainless steel tank) that they sample at the store. Aspects of the design reflect on this idea, products are displayed with an emphasis on the flavour rather than the bottle itself.</p>

		<img src="images/work/oliveandwell/oliveandwell-02-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">

		<p>The current design is one of a series of iterations. Specific business goals were defined for each version release. Currently under work is a full re-design of the home page, and minor tweaks to other pages to match the new home page look and feel, and to maintain design consitency throughout the website.</p>

		<img src="images/work/oliveandwell/oliveandwell-03-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-04-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-06-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-05-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-07-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-08-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-09-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-10-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>