<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
<!-- 		<p>E-commerce website (Redesign)<a href="https://www.oliveandwell.com" target="_blank">Visit</a></p> -->
		<p>E-commerce website (Redesign)</p>
	</div>
	<div class="content">
		<img src="images/work/oliveandwell/oliveandwell-01-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">

		<p>Olive and Well store is located in Chicago, Illinois. At the store, customers are able to taste their premium olive oils and balsamic vinegars before making their selection. Oils and vinegars are bottled from the same Italian Fusti (stainless steel tank) that they sample at the store. Aspects of the design reflect on this idea, products are displayed with an emphasis on the flavour rather than the bottle itself.</p>

		<img src="images/work/oliveandwell/oliveandwell-02-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">

		<p>I coded this web application from scratch. The current version (<a href="https://www.oliveandwell.com" target="_blank">wwww.oliveandwell.com</a>) has been through a series of iteration as I expand my knowledge on AngularJS, Sass, and other technologies.
		I took on this project to put on practice my code skills after earning two certificates in AngularJS at Codeschool.com. I also watched (and rewatched) a large number of videos training lessons from Lynda.com, and have a few AngularJS and Javascript books always lying around for consultation. I’m also an avid user of stackoverflow.com</p>

		<img src="images/work/oliveandwell/oliveandwell-03-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-04-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-05-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-06-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-07-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-08-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-09-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-10-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Gifts section on iPad. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-11-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, Gifts section on iPhone. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-12-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Design desktop version. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-13-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Design desktop version. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-14-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Design desktop version. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-15-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Design desktop version. Design and code by Frank Castro. www.frankcastro.com">
		<img src="images/work/oliveandwell/oliveandwell-16-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, Design desktop version. Design and code by Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>