<div class="header">
	<div class="projectTitle">
		<p>E-commerce website</p>
	</div>
	<work-link></work-link>
</div>

<div class="workContainer">
	<div class="next">
		<p><a href="https://www.oliveandwell.com">Visit website</a></p>
	</div>
	<div class="projectName">
		<p>Olive and Well</p>
	</div>
	<div class="content">
		<img src="images/work/oliveandwell/oliveandwell-01-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/oliveandwell/oliveandwell-02-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/oliveandwell/oliveandwell-03-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/oliveandwell/oliveandwell-04-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/oliveandwell/oliveandwell-06-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/oliveandwell/oliveandwell-05-frankcastro.com.png" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/oliveandwell/oliveandwell-07-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/oliveandwell/oliveandwell-08-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/oliveandwell/oliveandwell-09-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/oliveandwell/oliveandwell-10-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
	</div>
</div>

<footer-content></footer-content>