<div class="workContainer">
	<sezlik-links></sezlik-links>
	<div class="spacer"></div>
	<div class="content">
		<p>iOS Real State App Case Study (WIP). More coming soon.</p>
		<img ng-src="images/work/sezlik/sezlik1-case-study-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/sezlik/sezlik2-case-study-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/sezlik/sezlik3-case-study-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>