<nav-menu></nav-menu>
<div class="spacer"></div>
<div class="contacttext">
	<h1>Get in touch</h1>
		<br/>
	<div class="email">
		<a href="mailto:hello@frankcastro.com?Subject=Hello%20Frank" target="_top">hello@frankcastro.com</a>
	</div>
		<br/>
	<p>
		I’m also available as UX design consultant. I can help you create a strategy to cost-effectively validate a feature or product, and increase your chances of building an effective design solution for your customers and avoid costly readjustments later on.
	</p>
		<br/>
	<p>
		I am well-versed in developing digital products and services from ideation to implementation and working with diverse teams; designers, marketing specialists, content producers, product managers, engineers, and other stakeholders.
	</p>
	<p></p>
</div>