<div class="header">
	<div class="projectTitle">
		<p>Application iOS</p>
	</div>
	<work-link></work-link>
</div>

<div class="workContainer">
	<div class="projectName">
		<p>Dymon Storage</p>
	</div>
	<div class="content">
		<p>Dymon Storage developed a file storage and records management system for businesses. To effectively manage these files Dymon requested the development of this app for both iOS and Android smartphones. The app works with an existing web service and allows clients and/or staff to keep track of files, units and locations, among other features.</p>
		<img src="images/work/dymon/dymon-01-frankcastro.com.png" alt="Dymon Storage iOS application UX design. By Frank Castro. www.frankcastro.com">
		<img src="images/work/dymon/dymon-02-frankcastro.com.jpg" alt="Dymon Storage iOS application UX design. By Frank Castro. www.frankcastro.com">
		<p>Documents can be handle by Dymon staff or the client list of users, every part involved is notified of any activity in the unit. To facilitate this process clients can place Orders within the app to be full filled by Dymon staff or their own employees. The app also allows customization of the units, to accomodate different size of storage spaces.</p>
		<img src="images/work/dymon/dymon-03-frankcastro.com.png" alt="Dymon Storage iOS application UX design. By Frank Castro. www.frankcastro.com">
		<img src="images/work/dymon/dymon-04-frankcastro.com.jpg" alt="Dymon Storage iOS application UX design. By Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>