.mainContainer {
	width: 100%;
	max-width: 1880px;
	margin: 0 auto;

// -------------------------- XSMALL --------------------------

	@include susy-breakpoint($xsmall){
		@include single-transition(all, 1s, ease-out);
		// @include container;

		.fclogo {
			width: 22px;
			position: fixed;
			top: 14px;
			left: ms(2);
			z-index: 979;
			cursor: pointer;
		}

		.contacts {
			width: 100%;

			.contactInfo {
				padding-top: ms(1);
				padding-right: ms(2);

				p {
					font-size: ms(0);
					line-height: ms(2);
					font-weight: 300;
					text-align: right;

					a {
						text-decoration: none;
						color: white;
					}
				}
			}
		}

		.circle {
			@include transition-delay(0s);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-out);
			width: 44px; 
			height: 44px; 
			top: ms(-1);
			right: ms(-1);
			background-color: transparent;
			position: fixed;
			@include border-radius(50%);
			z-index: 997;

			&.square {
				@include transition-delay(0s);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in);
				height: 100%;
				width: 100%;
				top: 0px;
				right: 0px;
				@include border-radius(0px);
				@include background(black);
				opacity: 0.9;
			}
		}

$contentWidth: 1580px;

		.header {
			width: $contentWidth;
			margin: 0 auto;
			height: 240px;

			p {
				font-size: ms(1);
				text-transform: uppercase;
				color: black;
				padding-top: 108px;
			}

			.pageTitle {
				float: left;
				width: 50%;
				z-index: 979;

				p {
					font-weight: 300;
				}
			}

			.projectTitle {
				float: left;
				width: 50%;
				z-index: 979;

				p {
					font-weight: 300;
					text-transform: none;
				}
			}

			.links {
				div {
					float: right;
					margin-left: ms(4);
					padding-bottom: ms(1);

					a {
						text-decoration: none;
					}

					p {
						font-weight: 700;
					}
				}

				.active {
					// border-bottom: 1px;
					border-bottom: 5px solid $text;

					p {
						opacity: 1;
					}
				}
			}
		}

		.workContainer {
			width: $contentWidth;
			margin: 0 auto;

			.projectName {
				p {
					font-weight: 700;
					font-size: ms(1);
				}
			}

			.next {
				float: right;
			}

			.content {
				padding-top: ms(4);

				h4 {
					font-size: ms(0);
					text-transform: uppercase;
					text-align: center;
					padding-bottom: ms(5);
				}

				p {
					padding-bottom: ms(5);
					width: 480px;
					margin: 0 auto;
				}

				img {
					width: 100%;
					padding-bottom: ms(5);
				}
			}
		}

		.portrait {
			img {
				width: 520px;
			}
		}

		.aboutText {
			width: 100%;

			div {
				padding: ms(5) ms(2);

				p {
					font-family: $futura;
					font-size: ms(0);
					line-height: ms(1);
					// letter-spacing: 0.5px;
					font-weight: 400;
				}

				dfn {
					font-style: italic;
					font-size: ms(0);
					line-height: ms(0);
				}

				em {
					font-style: italic;
					font-size: ms(-1);
				}
			}
		}

		.columns {
			width: 50%;
			float: left;

			.slickContainer {
				width: 68%;
				margin: 0 auto;
			}

			.workText {
				height: 240px;

				a {
					text-decoration: none;
				}

				p:first-of-type {
					font-family: $futura, $primary-fontbold;
					font-weight: 700;
					font-style: normal;
					font-size: ms(1);
					line-height: ms(3);
					letter-spacing: 0.05px;
					padding-top: 27px;
				}

				p:last-of-type {
					font-family: $futura, $primary-font;
					font-weight: 400;
					font-style: normal;
					font-size: ms(0);
					line-height: ms(1);
					letter-spacing: 0.07px;
				}

				.aboutWork {
					font-style: italic;
					color: $gray2;
					font-size: ms(-1);
				}
			}
		}
	}


// -------------------------- SMALL --------------------------

	@include susy-breakpoint($small){
		@include single-transition(all, 1s, ease-out);

		.fclogo {
			width: 22px;
			top: 34px;
			left: ms(2);
		}

		.contacts {
			.contactInfo {
				padding-top: ms(2);
				padding-right: ms(3);

				p {
					font-size: ms(0);
					line-height: 4vh;
					font-weight: 300;

					a {
						text-decoration: none;
						color: white;
					}
				}
			}
		}

		.artbox {
			width: 99vw;
			height: 99.5vh;
		}

		.pageTitle {

		}

		.aboutText {
			div {
				padding: 10vh ms(2);
				width: 480px;
				@include transform(translateX(-50%));
				left: 50%;
				position: absolute;
			}
		}
	}


// -------------------------- MEDIUM --------------------------

	@include susy-breakpoint($medium){
		@include single-transition(all, 1s, ease-out);

		.contacts {
			.contactInfo {
				padding-top: ms(1);
				padding-right: ms(3);

				p {
					font-size: ms(0);
					line-height: 4vh;
					font-weight: 300;
				}
			}
		}
	}


// -------------------------- LARGE --------------------------

	@include susy-breakpoint($large){
		@include single-transition(all, 1s, ease-out);

		.fclogo {
			width: 20px;
			top: 32px;
			left: ms(2);
			cursor: pointer;
		}

		.contacts {
			.contactInfo {
				padding-top: ms(1);
				padding-right: ms(3);

				p {
					font-size: ms(0);
					line-height: ms(2);
					font-weight: 300;
				}
			}
		}

		.pageTitle {

		}

		.aboutText {
			width: 100%;

			div {
				@include single-transition(all, 1s, ease-out);
				position: relative;
				width: 480px;
				padding: ms(5) ms(2);

				p {
					font-weight: 400;
					line-height: ms(1);
					color: black;
				}
			}
		}
	}


// -------------------------- XLARGE --------------------------

	@include susy-breakpoint($xlarge){
		@include single-transition(all, 1s, ease-out);

		.fclogo {
			width: 24px;
			top: 40px;
			left: ms(3);
			z-index: 999;
			cursor: pointer;
		}

		.contacts {
			width: 100%;
			height: ms(6);
			padding-top: ms(1);

			.contactInfo {
				padding-right: ms(5);

				p {
					font-size: ms(0);
					line-height: ms(3);
					font-weight: 400;

					a {
						text-decoration: none;
						color: white;
					}
				}
			}
		}

		.circle {
			@include transition-delay(0s);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-out);
			width: 44px; 
			height: 44px;
			top: ms(2);
			right: ms(2);
			opacity: 1;

			&.square {
				@include transition-delay(0s);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in);
				height: 100%;
				width: 100%;
				top: 0px;
				right: 0px;
				border: 0px;
				@include border-radius(0px);
				opacity: 0.9;
			}
		}

		.pageTitle {

		}

		.aboutText {
			div {
				position: absolute;
				width: 960px;
				@include column-count(2);
				@include column-gap(ms(5));
				max-width: 1100px;
				@include transform(translateX(-50%));
				top: 8%;
				left: 50%;

				p {
					font-size: ms(0);
					font-weight: 400;
					line-height: ms(1);
				}
			}
		}
	}
}

footer {
	font-family: $primary-font;

// -------------------------- XSMALL --------------------------

	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 1s, ease-out);

		.copyright {
			position: fixed;
			padding: ms(-1);
			right: 10px;
			bottom: 150px;
			@include transform(rotate(-90deg));
			@include transform-origin(100%, 50%);
			z-index: 999;

			p {
				font-size: ms(-1);
				color: $gray2;
				font-weight: 400;
				line-height: ms(0);
				letter-spacing: 0.04rem;
				opacity: 0.8;
			}
		}
	}

// -------------------------- SMALL --------------------------

	@include susy-breakpoint($small) {
		@include single-transition(all, 1s, ease-out);
		
		.copyright {
			p {
				font-size: ms(-1);
				line-height: ms(0);
			}
		}
	}

// -------------------------- MEDIUM --------------------------

	@include susy-breakpoint($medium) {
		@include single-transition(all, 1s, ease-out);
	}

// -------------------------- LARGE --------------------------

	@include susy-breakpoint($large) {
		@include single-transition(all, 1s, ease-out);

		.copyright {
			padding: ms(-1);
			right: 10px;
			bottom: 150px;
		}
	}

// -------------------------- XLARGE --------------------------

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 1s, ease-out);

		.copyright {
			right: ms(1);
			bottom: 200px;
		}
	}
}