.mainContainer {
	width: 100%;
	margin: 0 auto;

// -------------------------- XSMALL --------------------------

	@include susy-breakpoint($xsmall){

$contentWidth: 100vw;
$contentMaxWidth: 100vw;
$headerHeight: 120px;

		@include single-transition(all, 1s, ease-out);
		// @include container;

		.header {
			width: $contentWidth;
			height: $headerHeight;
			position: absolute;
			top: 0px;
			opacity: 0.85;

			p {
				font-size: ms(0);
				text-transform: uppercase;
				color: black;
				padding-top: 45px;
			}

			.pageTitle {
				float: left;
				width: auto;
				z-index: 979;

				p {
					padding-left: ms(0);
					font-family: $futura;
					font-weight: 700;
					font-style: normal;
					color: $gray1;

					span {
						font-family: $futuraCond;
						font-weight: 400;
						letter-spacing: 0.7px;
						padding-left: ms(-3);
					}
				}
			}

			.projectTitle {
				float: left;
				width: 50%;
				z-index: 979;

				p {
					font-weight: 300;
					text-transform: none;
				}
			}

			.links {
				div {
					float: left;
					margin-left: ms(0);
					padding-bottom: ms(-1);

					a {
						text-decoration: none;
					}

					p {
						font-weight: 700;
					}
				}

				.active {
					border-bottom: 3px solid $text;
				}
			}
		}

		.navbg-hidden {
			@include susy-breakpoint($xsmall) {
				will-change: transform;
				@include single-transition(all, 0.9s, ease-out);
				position: fixed;
				background-color: white;
				z-index: 999;
				opacity: 1;
			}
		} //this is the class that shows and hides the links inside the work details pages

		.spacer {
			height: $headerHeight;
		}

		.workContainer {
			width: $contentWidth;
			margin: $headerHeight auto 0;

			.projectName {
				@include span (12 of 12);
				padding: 0px ms(0) ms(2);

				div:first-of-type {
					height: 42px;
					float: left;
				}
// you are using a div in some pages; rapidphire and GS, make it consistent

				p {
					text-transform: uppercase;
					padding: 0px 0px ms(1);
				}
			}

			.content {
				@include span (12 of 12);
				padding: 0px ms(0);

				h4 {
					font-size: ms(0);
					text-align: left;
					padding-bottom: ms(3);
				}

				p {
					padding-bottom: ms(3);
					// width: $contentMaxWidth;
					// margin: 0 auto;
				}

				a {
					padding-left: ms(0);
					font-weight: 700;
					text-transform: uppercase;
				}

				img {
					width: 100%;
					padding-bottom: ms(3);
				}

				&.prototype {
					a {
						display: none;
					}

					span {
						text-transform: none;
						padding-left: ms(0);
					}
				}
			}

			.submenu {
				height: 42px;
				display: flex;
				margin-left: ms(0);

				div {
					width: 44px;
					float: left;
				}

				p {
					font-size: ms(0);
					font-weight: 700;
					text-transform: uppercase;
					text-align: center;
					width: inherit;
				}

				a {
					padding: 9px;
				}

				.active {
					border-bottom: 3px solid $text;
				}				
			}
		}

		.portrait {
			@include span (12 of 12);
			padding: $headerHeight ms(0) 0px;

			img {
				width: 100%;
				position: relative;
			}
		}

		.aboutText {
			width: 100%;

			div {
				@include single-transition(all, 1s, ease-out);
				@include span(12 of 12);
				padding: ms(1) ms(0) ms(2);
				position: relative;

				p {
					font-family: $futura;
					font-size: ms(0);
					line-height: ms(1);
					// letter-spacing: 0.5px;
					font-weight: 400;
				}

				dfn {
					font-style: italic;
					font-size: ms(0);
					line-height: ms(0);
				}

				em {
					font-style: italic;
					font-size: ms(-1);
				}
			}
		}

		.columns {
			width: 100%;
			float: left;

			.slickContainer {
				width: 92%;
				margin: 0 auto;
			}

			.workText {
				height: auto;
				z-index: 999;
				position: absolute;
				@include transform(translateY(-40px));

				a {
					text-decoration: none;
				}

				p {
					padding-left: ms(1);
					color: $gray2;
					font-family: $futura, $primary-font;
					font-weight: 400;
					font-style: normal;
					font-size: ms(-1);
					line-height: ms(1);
					letter-spacing: 0.3px;
					text-transform: uppercase;

					span {
						color: white;
						font-family: $futura, $primary-font;
						font-weight: 700;
					}
				}

				.aboutWork {
					font-style: italic;
					color: $gray2;
					font-size: ms(-1);
				}
			}
		}

		.footer {
			@include span(12 of 12);
			padding: ms(0);

			p {
				font-weight: 300;
				text-align: left;
			}

			div {
				margin: 0 auto;

				p {
					font-size: ms(-1);
					line-height: ms(2);
					letter-spacing: 0.03rem;
					text-transform: uppercase;
				}

				.email {
					font-size: ms(0);
					font-family: $futuraCond;
					font-weight: 700;
					font-style: normal;
				}

				a {
					text-decoration: none;
					color: $gray2;

					&:hover {
						color: $hover;
					}
				}

				a::after {
					content: " | ";
					color: white;
				}

				a:last-of-type::after {
					content: " ";
				}
			}

			.copyright {
				z-index: 999;

				p {
					font-size: ms(-1);
					color: $gray1;
					font-weight: 400;
					line-height: ms(0);
					letter-spacing: 0.04rem;
					padding: ms(0) 0px 0px;
					text-transform: none;
				}
			}
		}
	}


// -------------------------- SMALL --------------------------

	@include susy-breakpoint($small){

$contentWidth: 100vw;
$contentMaxWidth: 100vw;
$headerHeight: 180px;

		@include single-transition(all, 1s, ease-out);
		max-width: $contentMaxWidth;
		.views {
			margin: 0 3%;
		}

		.header {
			width: $contentWidth;
			height: $headerHeight;

			p {
				font-size: ms(0);
				padding-top: 74px;
			}

			.pageTitle {
				p {
					padding-left: 0px;
				}
			}

			.links {
				div {
					margin-left: ms(2);
					padding-bottom: ms(0);
				}
			}
		}

		.workContainer {
			width: $contentWidth;
			margin: $headerHeight auto 0;

			.projectName {
				padding: 0px ms(1) ms(2);
			}

			.content {
				padding: 0px ms(1);

				h4 {
					padding-bottom: ms(3);
				}

				p {
					padding-bottom: ms(4);
					width: 520px;
					margin: 0 auto;
				}

				img {
					padding-bottom: ms(4);
				}
			}
		}

		.portrait {
			@include span (12 of 12);
			padding: $headerHeight ms(1) 0px;

			div {
				@include span (6 of 12);
				padding: 0px;
			}

			img {
				max-width: 450px;
			}
		}

		.spacer {
			height: $headerHeight;
		}

		.aboutText {
			div {
				@include single-transition(all, 1s, ease-out);
				padding: ms(2) ms(1) ms(3);
				width: 520px;

				p {
					line-height: ms(1);
					color: black;
				}
			}
		}

		.columns {
			width: 50%;

			.slickContainer {
				width: 100%;
			}
		}

		.footer {
			@include span(12 of 12);
			padding: ms(1);
		}
	}


// -------------------------- MEDIUM --------------------------

	@include susy-breakpoint($medium){

$contentWidth: 100vw;
$contentMaxWidth: 100vw;
$headerHeight: 200px;

		@include single-transition(all, 1s, ease-out);
		max-width: $contentMaxWidth;

		.header {
			width: $contentWidth;
			height: $headerHeight;

			p {
				font-size: ms(0);
				padding-top: 86px;
			}

			.pageTitle {
				p {
					padding-left: 0px;
				}
			}

			.links {
				div {
					margin-left: ms(3);
					padding-bottom: ms(0);
				}
			}
		}

		.workContainer {
			width: $contentWidth;
			margin: $headerHeight auto 0;

			.projectName {
				padding: 0px ms(2) ms(2);
			}

			.websiteLink {
				p {
					width: $contentMaxWidth;
				}
			}

			.content {
				padding: 0px ms(2);

				h4 {
					padding-bottom: ms(3);
				}

				p {
					padding-bottom: ms(3);
					width: 540px;
					margin: 0 auto;
				}

				img {
					padding-bottom: ms(3);
				}
			}
		}

		.portrait {
			@include span (12 of 12);
			padding: $headerHeight ms(2) 0px;

			div {
				@include span (6 of 12);
				padding: 0px;
			}
		}

		.spacer {
			height: $headerHeight;
		}

		.aboutText {
			div {
				@include single-transition(all, 1s, ease-out);
				padding: ms(2) ms(2) ms(3);
				width: 560px;

				p {
					line-height: ms(1);
				}
			}
		}

		.footer {
			@include span(12 of 12);
			padding: ms(1);
		}
	}


// -------------------------- LARGE --------------------------

	@include susy-breakpoint($large){

$contentWidth: 100vw;
$contentMaxWidth: 83vw;
$headerHeight: 170px;

		@include single-transition(all, 1s, ease-out);
		max-width: $contentMaxWidth;

		.header {
			width: 90vw;
			height: $headerHeight;

			p {
				font-size: ms(0);
				padding-top: 72px;
			}

			.pageTitle {
				p {
					padding-left: 0px;
				}
			}

			.links {
				div {
					margin-left: ms(2);
					padding-bottom: ms(0);
				}
			}
		}

		.workContainer {
			width: $contentMaxWidth;
			margin: $headerHeight auto 0;

			.projectName {
				padding: 0px 0px ms(2);
			}

			.content {
				padding: 0px;

				h4 {
					padding-bottom: ms(3);
				}

				p {
					padding-bottom: ms(4);
				}

				img {
					width: 100%;
					padding-bottom: ms(4);
				}

				&.prototype {
					a {
						display: initial;
						padding-left: ms(0);
					}

					span {
						display: none;
					}
				}
			}
		}

		.portrait {
			@include span (12 of 12);
			padding: $headerHeight 0px 0px;

			div {
				@include span (5 of 12);
				padding: 0px;
			}
		}

		.spacer {
			height: $headerHeight;
		}

		.aboutText {
			div {
				@include single-transition(all, 1s, ease-out);
				padding: ms(3) 0px;
			}
		}

		.columns {
			width: 33.3%;
		}

		.footer {
			@include span(12 of 12);
			padding: ms(1);
			max-width: $contentMaxWidth;
		}
	}


// -------------------------- XLARGE --------------------------

	@include susy-breakpoint($xlarge){

$contentWidth: 100vw;
$contentMaxWidth: 1580px;
$headerHeight: 180px;

		@include single-transition(all, 1s, ease-out);
		max-width: $contentMaxWidth;

		.header {
			width: 80vw;
			height: $headerHeight;

			div:first-of-type {
				max-width: $contentMaxWidth;
			}

			p {
				font-size: ms(0);
				padding-top: 75px;
			}

			.links {
				div {
					margin-left: ms(2);
					padding-bottom: ms(0);
				}

				.active {
					border-bottom: 3px solid $text;
				}
			}
		}

		.spacer {
			height: $headerHeight;
		}

		.workContainer {
			width: $contentMaxWidth;
			margin: $headerHeight auto 0;

			.projectName {
				width: $contentMaxWidth;
				padding: 0px 0px ms(3);
			}

			.websiteLink {
				p {
					width: $contentMaxWidth;
				}
			}

			.content {
				padding: 0px;

				h4 {
					padding-bottom: ms(3);
				}
			}
		}

		.portrait {
			padding: $headerHeight 0px 0px;

			div {
				@include span (4 of 12);
				padding: 0px;
			}

			img {
				max-width: 480px;
			}
		}

		.aboutText {
			div {
				@include single-transition(all, 1s, ease-out);
				padding: ms(3) 0px;
				width: 780px;
			}
		}

		.columns {
			width: 33.3%;
			// width: 30%;
			// padding-right: 3.3%;}
		}

		.footer {
			@include span(12 of 12);
			padding: ms(1);
			max-width: $contentMaxWidth;

			div {
				p {
					font-size: ms(-1);
					line-height: ms(2);
				}

				.email {
					font-size: ms(0);
				}
			}
		}
	}
}