.mainContainer {
	@include container;

// -------------------------- XSMALL --------------------------

	@include susy-breakpoint($xsmall){
		@include single-transition(all, 1s, ease-out);
		@include container;

		.fclogo {
			width: 22px;
			position: fixed;
			// bottom: ms(-1);
			// right: ms(0);
		}

		.introtext {
			@include span(12 of 12);
			position: fixed;
			height: 100%;

			div {
				width: 85%;
				max-width: 280px;
				@include transform(translate(-50%, -50%));
				left: 50%;
				top: 50%;
				position: relative;

				p {
					font-family: $serif;
					font-size: 1.8vh;
					font-weight: 400;
					line-height: 2.7vh;
					color: $gray3;
					letter-spacing: 0.55px;
				}					
			}
		}

		.artbox {
			@include container;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			width: 88vw;
			height: 69vh;
			@include background(linear-gradient(bottom right, rgba(lightblue, 0.92) 33%, rgba($color2, 1) 64%));
			position: fixed;
			// @include border-radius(ms(-2));

			img {
				@include transform(translate(-50%, -50%));
				top: 50%;
				left: 50%;
				position: absolute;
				width: 270px;
			}

			// @media (min-width: 1200px) {
			// 	@include container;
			// 		.textblock {
			// 			@include span(2 at 2 of 6);
			// 		}
			// }
		} 
		// this is the class for the home page to size the box that create the frame effects

		.artContainerSpace {
			width: 100%;
			height: 140vh;
			position: absolute;
			z-index: -1;
		}

		.artContainer {
			height: 400px; //you need this high for scrolling
			overflow: hidden;
			display: block;
			position: relative;
			// @include background(linear-gradient(to bottom right, rgba($bg01, 0.1), rgba($bg02, 0.9)), image-url('http://frankcastro.com/something/texture-bg.jpg'));

			&.dimmed {
				@include transition-delay(0s);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in);
				opacity: 0;
			}
		} // this is for the home page art and full screen effect

		// .ctasmall {
		// 	position: fixed;
		// 	width: 100%;
		// 	top: 0.5vh;
		// 	color: $gray1;

		// 	p {
		// 		text-transform: uppercase;
		// 		font-size: ms(-1);
		// 		font-weight: 400;
		// 		@include transform(translateX(-50%));
		// 		left: 50%;
		// 		position: absolute;
		// 	}

		// 	&.dimmed {
		// 		@include transition-delay(0s);
		// 		@include transition-duration(0.2s);
		// 		@include transition-timing-function(ease-in);
		// 		opacity: 0;
		// 	}
		// }

		// .contacts {
		// 	width: 100%;
		// 	height: ms(6);
		// 	padding-top: ms(1);

		// 	.contactInfo {
		// 		@include span(12 of 12);
		// 		// @include pre(2);
		// 		// @include suffix (1); // Adds column after the element
		// 		font-weight: 300;
		// 		text-align: left;

		// 		p {
		// 			color: black;
		// 			@include transition-delay(0s);
		// 			@include transition-duration(0.1s);
		// 			@include transition-timing-function(ease-in);
		// 		}

		// 		div:nth-of-type(2) {
		// 			display: none;
		// 		}
		// 	}

		// 	// .ng-hide {
		// 	// 	@include transition-delay(0s);
		// 	// 	@include transition-duration(0s);
		// 	// 	@include transition-timing-function(ease-out);
		// 	// 	opacity: 0;
		// 	// }

		// 	// .ng-hide-remove {
		// 	// 	@include transition-delay(0s);
		// 	// 	@include transition-duration(0s);
		// 	// 	@include transition-timing-function(ease-in);
		// 	// }
		// }

		.circle {
			@include transition-delay(0s);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-out);
			width: 44px; 
			height: 44px; 
			top: 2vh;
			left: 2vh;
			// bottom: auto;
			background-color: white;
			// @include transform (translateX(-50%));
			// left: 50%;
			position: fixed;
			@include border-radius(50%);
			z-index: 997;

			&.square {
				@include transition-delay(0s);
				@include transition-duration(0.3s);
				@include transition-timing-function(ease-out);
				height: 100%;
				width: 100%;
				top: 0px;
				bottom: 0px;
				border: 0px;
				@include border-radius(0px);
				// @include background(linear-gradient(160deg, lightskyblue 32%, hotpink 68%));
				@include background(gray);
			}

			// &.square::after {
			// 	@include transition-delay(0s);
			// 	@include transition-duration(0.7s);
			// 	@include transition-timing-function(ease-out);
			// 	height: 0vh;
			// }
		}

		// .plusIcon {
		// 	@include transition-duration(0.2s);
		// 	@include transition-delay(0.1s);
		// 	width: 45px;
		// 	height: 45px;
		// 	top: 3vh;
		// 	bottom: auto;
		// 	left: 50%;
		// 	@include transform (translateX(-50%));
		// 	position: fixed;
		// 	cursor: pointer;
		// 	fill: skyblue;
		// 	z-index: 1000;

		// 	&.rotate {
		// 		@include transition-duration(0.2s);
		// 		@include transition-delay(0.1s);
		// 		@include transform-origin(50%, 50%); //these values are the default setting for origin
		// 		@include transform (translateX(-50%) rotate(45deg));
		// 		left: 50%;
		// 		fill: $color2;
		// 	}
		// }

		.pageTitle {
			@include span(8 of 12);
			padding-left: ms(0);
			position: fixed;
			bottom: ms(-1);
			z-index: 991;
			@include single-text-shadow(white, 1px, 1px, ms(0));

				h2 {
					color: $gray1;
					font-weight: 300;
				}
		}

		.projectrow {
			@include span(12 of 12);
			padding: 0px;
			position: absolute;
		}

		.devicesimg {
			z-index: 901;
			height: auto;
			@include span(9 of 12);
			position: relative;
			// padding-top: ms(4);
			padding-left: ms(4);

			img {
				display: none;
			}
		}

	  	.projects {
	  		@include span(12 of 12);
	  		padding: 0px;
	  		position: relative;

			.projectbg {
				width: 100%;
				height: 66vh;
				@include bg-properties;
			}

			.projectInfo {
				@include span(8 of 12);
				position: relative;
				padding: ms(0) 0px ms(5);
				font-weight: 300;
				@include transform (translateX(-50%));
				left: 50%;

				h2 {
					color: $gray2;
					padding-top: ms(-1);
				}

				a {
					font-size: ms(0)
				}

				p {
					padding-top: ms(1);
				}
			}
	  	}
	}


// -------------------------- SMALL --------------------------

	@include susy-breakpoint($small){
		@include single-transition(all, 1s, ease-out);
		@include container;

		.introtext {
			@include span(12 of 12);
			position: fixed;
			@include transform(translate(-50%, -50%));
			left: 50%;
			top: 50%;

			div {
				// width: 100%;
				max-width: 100%;
				position: relative;
				@include span(10 of 12);
				@include column-count(2);
				@include column-gap(5vw);

				p {
					font-size: 1.7vh;
					font-weight: 300;
					line-height: 2.9vh;
					color: $gray3;
					letter-spacing: 0.55px;
				}					
			}
		}

		.artbox {

			img {
				width: 50vh;
				max-width: 480px;
			}
		}

	  	.projects {

			.projectInfo {
				width: 480px;
				padding: ms(3) 0px ms(6);
				font-weight: 400;
				@include transform (translateX(-50%));
				left: 50%;

				h2 {
					color: $gray2;
					padding-top: ms(-1);
				}

				a {
					font-size: ms(0)
				}

				p {
					padding-top: ms(1);
				}
			}
	  	}
	}


// -------------------------- MEDIUM --------------------------

	@include susy-breakpoint($medium){
		@include single-transition(all, 1s, ease-out);
		@include container;

		.introtext {

			div {
				max-width: 620px;

				p {
					font-size: 1.9vh;
					font-weight: 300;
					line-height: 3.1vh;
					color: $gray3;
					letter-spacing: 0.55px;
				}		
			}
		}
	}


// -------------------------- LARGE --------------------------

	@include susy-breakpoint($large){
		@include single-transition(all, 1s, ease-out);

		.introtext {
			@include span(12 of 12);
			position: fixed;
			@include transform(translate(-50%, -50%));
			left: 50%;
			top: 50%;

			div {
				max-width: 100%;
				position: relative;
				@include span(6 of 12);
				@include column-count(2);
				@include column-gap(5vw);

				p {
					font-size: 2.4vh;
					font-weight: 300;
					line-height: 4.1vh;
					color: $gray3;
					letter-spacing: 0.55px;
				}					
			}
		}

		.artbox {
			width: 58vw;
			height: 78vh;
			// @include border-radius(ms(-2));
			@include background(linear-gradient(bottom right, rgba(lightblue, 0.92) 32%, rgba($color2, 0.98) 64%));

			img {
				width: 55vh;
				max-width: 480px;
			}
		} 
		// this is the class for the home page to size the box that create the frame effects

		// .contacts {
		// 	width: 100%;
		// 	height: auto;
		// 	padding-top: 4vh;

		// 	.contactInfo {
		// 		@include span(12 of 12);
		// 		font-weight: 300;
		// 		text-align: center;

		// 		div:nth-of-type(2) {
		// 			display: inline;
		// 		}
		// 	}
		// }

		// .circle {
		// 	width: 44px; 
		// 	height: 44px; 
		// 	background-color: white;
		// 	top: 1.3vh;
		// 	bottom: auto;
		// }

		// .plusIcon {
		// 	width: 45px;
		// 	height: 45px;
		// 	top: 1.3vh;
		// 	bottom: auto;
		// }

		.devicesimg {
			z-index: 901;
			height: auto;
			@include span(9 of 12);
			position: relative;
			padding-left: 1.6vw;
			padding-top: ms(2);

			img {
				position: relative;
				padding: ms(0);
				display: inline;
				max-width: 75%;
				float: right;
			}

			::before, img:nth-of-type(3) {
				display: inline;
			}
		}

		.projects {
			@include span(12 of 12);
			padding: 0;
			position: relative;

			.projectbg {
				height: 33vw;
			}

			.projectInfo {
				@include span(3 of 12);
				position: relative;
				padding: ms(1) auto ms(5);
				font-weight: 300;
				@include transform (translateX(0));
				left: 0;

				h2 {
					color: $gray2;
					padding-top: ms(-1);
				}

				a {
					font-size: ms(0)
				}

				p {
					padding-top: ms(2);
					padding-right: ms(0);
				}
			}
		}
	}


// -------------------------- XLARGE --------------------------

	@include susy-breakpoint($xlarge){
		@include single-transition(all, 1s, ease-out);

		.fclogo {
			width: 28px;
			// bottom: ms(0);
			// right: ms(1);
			top: ms(2);
			// @include transform (translateX(-50%));
			left: ms(2);
			z-index: 2999;
			cursor: pointer;
		}

		.introtext {
			@include span(12 of 12);
			// @include column-count(2);
			// @include column-gap(ms(3));
			position: fixed;
			@include transform(translate(-50%, -50%));
			left: 50%;
			top: 50%;

			div {
				max-width: 100%;
				position: relative;
				@include span(6 of 12);
				@include column-count(2);
				@include column-gap(5vw);

				p {
					font-size: 2.1vh;
					font-weight: 300;
					line-height: 3.9vh;
					color: $gray3;
					letter-spacing: 0.55px;
				}					
			}
		}

		.artbox {
			width: 99.86vw;
			height: 99.82vh;
			@include background(linear-gradient(bottom right, rgba($color2, 0.92) 0%, rgba(lightskyblue, 1) 100%));

			img {
				width: 50vh;
				max-width: 480px;
			}
		} 
		// this is the class for the home page to size the box that create the frame effects

		.artContainerSpace {
			height: 140vh;
		}

		.contacts {
			width: 100%;
			height: ms(6);
			padding-top: ms(1);
			padding-left: ms(2);

			.contactInfo {
				p {
					font-size: ms(0);
					font-weight: 300;
					line-height: 2.3vh;
					text-align: left;

					a {
						text-decoration: none;
						color: white;
					}
				}
			}
		}

		.circle {
			width: 60px; 
			height: 60px; 
			background-color: lightskyblue;
			top: 1.9vh;
			left: 1.7vh;
			opacity: 1;

			&.square {
				@include transition-delay(0s);
				@include transition-duration(0.3s);
				@include transition-timing-function(ease-out);
				height: 100%;
				width: 100%;
				top: 0px;
				left: 0px;
				border: 0px;
				@include border-radius(0px);
				@include background(skyblue);
				opacity: 1;
			}
		}

		// .plusIcon {
		// 	width: 61px;
		// 	height: 61px;
		// 	top: 1.7vh;
		// 	bottom: auto;
		// }

		.pageTitle {
			@include span(3 of 12);
			padding-left: ms(2);
			bottom: ms(1);
			@include single-text-shadow(white, 1px, 1px, ms(4));

			h2 {
				color: $gray1;
			}
		}

		.devicesimg {
			z-index: 901;
			height: auto;
			@include span(9 of 12);
			position: relative;
			padding-top: ms(3);

			img {
				position: relative;
				padding: 0px 3.2vw 0px 0px;
				display: inline;
				max-width: 100%;
			}

			::before, img:nth-of-type(3) {
				display: inline;
			}
		}

		.projects {
			@include span(12 of 12);
			padding: 0px;
			position: relative;

			.projectbg {
				width: 100%;
				height: 37vw;
				@include bg-properties;
			}

			.projectInfo {
				@include span(2 at 2 of 12);
				position: relative;
				padding: ms(2) 0px ms(5);
				font-weight: 300;
				@include transform (translateX(0));
				left: 0;

				h2 {
					color: $gray2;
					padding-top: ms(-1);
				}

				a {
					font-size: ms(0)
				}

				p {
					padding-top: ms(2);
				}
			}
		}
	}
}

footer {
	font-family: $primary-font;
	position: fixed;
	bottom: 20px;

// -------------------------- XSMALL --------------------------

	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 1s, ease-out);
		@include span(12 of 12);

		.copyright {
			position: fixed;
			right: ms(2);
			bottom: ms(1);
			// width: 450px;
			// @include transform(translateX(-50%));
			// padding: ms(1) 0px ms(0) 0px;
			letter-spacing: 0.04rem;
			line-height: ms(1);

			p {
				font-size: ms(-1);
				color: $gray1;
				font-weight: 400;
				opacity: 0.6;
			}
		}
	}

// -------------------------- SMALL --------------------------

	@include susy-breakpoint($small) {
		@include single-transition(all, 1s, ease-out);
	}

// -------------------------- MEDIUM --------------------------

	@include susy-breakpoint($medium) {
		@include single-transition(all, 1s, ease-out);
	}

// -------------------------- LARGE --------------------------

	@include susy-breakpoint($large) {
		@include single-transition(all, 1s, ease-out);
	}

// -------------------------- XLARGE --------------------------

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 1s, ease-out);

		.copyright {
			// width: 450px;
			// @include transform(translate(-50%, -480%) rotate(-90deg));
			// padding: ms(0) 0px ms(0) 0px;
			letter-spacing: 0.04rem;
			line-height: ms(1);

			p {
				font-size: ms(0);
				color: $gray1;
				font-weight: 300;
			}
		}
	}
}