.workmodule {
	font-family: sans-serif;

// -------------------------- XSMALL --------------------------

	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 1s, ease-out);
		@include span(12 of 12);
		// @include pre(1);
		// @include suffix(1);
		// @include span(4 at 3 of 12);
		padding-top: ms(1);
		margin-bottom: ms(3);

		.imageWrapper {

			img {
				max-width: 90%;
				max-height: 44vh;
				position: relative;
				left: 50%;
				@include transform (translateX(-50%));
			}
		}

		.worktext {
			position: relative;
			top: 0px;
			text-align: center;
			padding: ms(3) ms(2) 0px;

			::before {
				// content: url('images/svg/touch.svg');
				content: '';
				font-size: 0px;
				opacity: 0;
			}
		}
	}

// -------------------------- SMALL --------------------------

	@include susy-breakpoint($small) {
		@include single-transition(all, 1s, ease-out);
	}

// -------------------------- MEDIUM --------------------------

	@include susy-breakpoint($medium) {
		@include single-transition(all, 1s, ease-out);
	}

// -------------------------- LARGE --------------------------

	@include susy-breakpoint($large) {
		@include single-transition(all, 1s, ease-out);
	}

// -------------------------- XLARGE --------------------------

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 1s, ease-out);
		@include span(6 of 12);
		padding-top: ms(4);
		margin-bottom: ms(5);

		.imageWrapper {

			img {
				max-height: ms(7);
				max-width: ms(8);
			}
		}

		.worktext {
			top: ms(4);
			padding: 0px;

			::before {
				content: 'swipe on image (touch)';
				font-size: ms(-1);
				text-transform: uppercase;
				position: absolute;
				@include transform(translate(-50%, -30px));
				left: 50%;
				opacity: 0.3;
			}
		}
	}
}