// .ng-hide {
// 	@include transition-delay(0s);
// 	@include transition-duration(0.4s);
// 	@include transition-timing-function(ease-out);

// 	p {
// 		opacity: 0;
// 	}
// }

// .ng-hide-remove {
// 	@include transition-delay(0s);
// 	@include transition-duration(0.4s);
// 	@include transition-timing-function(ease-in);

// 	p {
// 		@include transition-delay(0.5s);
// 	}
// }

.workmodule {
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-position: center top;

// -------------------------- XSMALL --------------------------

	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 1s, ease-out);
		@include span(12 of 12);
		// @include pre(1);
		// @include suffix(1);
		// @include span(4 at 3 of 12);
		padding: ms(4) 0px ms(3);

		.worktext {
			position: relative;
			margin-top: ms(3);
			padding: ms(2) 5vw ms(3);
			background-color: white;
			text-align: left;
			z-index: 993;

			a {
				display: none;
			}
		}
	}

// -------------------------- SMALL --------------------------

	@include susy-breakpoint($small) {
		@include single-transition(all, 1s, ease-out);
		padding: ms(4) 0px ms(2);
		background-size: 145vh;

		.worktext {
			width: 50vw;
			margin-top: 12vw;
			padding: ms(3) 5vw ms(4);
		}
	}

// -------------------------- MEDIUM --------------------------

	@include susy-breakpoint($medium) {
		@include single-transition(all, 1s, ease-out);
	}

// -------------------------- LARGE --------------------------

	@include susy-breakpoint($large) {
		@include single-transition(all, 1s, ease-out);
		@include span(12 of 12);
		padding: ms(4) 0px 0px;
		margin-bottom: ms(6);
		@include bg-properties;

		.worktext {
			@include span(4 of 12);
			position: relative;
			padding: ms(3) ms(2) ms(4) ms(3);
			margin-top: 20px;
			font-weight: 300;
			@include transform (translateX(0));
			left: 0;
			background-color: white;
			text-align: left;
			z-index: 993;

			a {
				display: inline;
			}
		}
	}

// -------------------------- XLARGE --------------------------

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 1s, ease-out);
		padding: ms(4) 0px 0px;
		margin-bottom: ms(7);		

		.worktext {
			@include span(3 of 12);
			padding: ms(3) ms(2) ms(4) ms(3);
			margin-top: 0px;
			font-weight: 300;
		}
	}
}

.workmodule2 {
	font-family: sans-serif;

// -------------------------- XSMALL --------------------------

	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 1s, ease-out);
		@include span(12 of 12);
		// @include pre(1);
		// @include suffix(1);
		// @include span(4 at 3 of 12);
		padding: ms(2) 0px ms(3) 0px;

		.worktext {
			position: relative;
			padding: ms(2) 5vw 0px;
			background-color: white;
			z-index: 993;
		}
	}

// -------------------------- SMALL --------------------------

	@include susy-breakpoint($small) {
		@include single-transition(all, 1s, ease-out);
		padding-top: ms(4);

		.worktext {
			max-width: 480px;
			width: 50vw;
			@include transform (translateX(-50%));
			left: 50%;
			text-align: center;
		}
	}

// -------------------------- MEDIUM --------------------------

	@include susy-breakpoint($medium) {
		@include single-transition(all, 1s, ease-out);
		padding: ms(4) 0px ms(5);

		.worktext {
			font-weight: 300;
			padding: ms(0);
		}
	}

// -------------------------- LARGE --------------------------

	@include susy-breakpoint($large) {
		@include single-transition(all, 1s, ease-out);
		@include span(12 of 12);
		padding: ms(4) 0px 0px;
		margin-bottom: ms(4);

		.worktext {
			font-weight: 300;
			padding: ms(0);
		}
	}

// -------------------------- XLARGE --------------------------

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 1s, ease-out);
		@include span(12 of 12);
		padding: ms(4) 0px 0px;
		margin-bottom: ms(5);		

		@include bg-properties;

		.worktext {
			width: 19vw;
			padding: ms(2);
		}
	}
}