<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>Prototypes</p>
		</div>
		<!-- <h4>Visibility Polygons Exercise</h4> -->
		<prototypes-links></prototypes-links>
	</div>
	<div class="content prototype">
		<p>Fun little project. When I came across this javascript library, I was curious how many polygons I could use and still make it work. From library in Github by Byron Knoll. It may take a few seconds to load. (Please use CHROME or SAFARI). Drag the red circle around to see the lines redrawing. It resembles a spot light casting a shadow.<a href="http://www.vis-pol.frankcastro.com" target="_blank">Visit</a><span> This prototype is visible on desktop only.</span></p>
		<img src="images/work/prototypes/polygons-frankcastro.com.jpg" alt="Playing with visibility polygons. Experiment by Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>