<div class="header">
	<div class="projectTitle">
		<p>Social Network Game</p>
	</div>
	<work-link></work-link>
</div>

<div class="workContainer">
	<div class="projectName">
		<p>GreenSpace</p>
	</div>
	<div class="content">
		<img src="images/work/greenspace/greenspace-01-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/greenspace/greenspace-02-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/greenspace/greenspace-03-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/greenspace/greenspace-04-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/greenspace/greenspace-06-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/greenspace/greenspace-05-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/greenspace/greenspace-07-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/greenspace/greenspace-08-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/greenspace/greenspace-09-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
		<img src="images/work/greenspace/greenspace-10-frankcastro.com.jpg" alt="Olive and Well responsive e-commerce website, home page view on smartphone and desktop.">
	</div>
</div>

<footer-content></footer-content>