<div class="workContainer">
	<greenspace-links></greenspace-links>
	<div class="spacer"></div>
	<div class="content">
		<p>GreenSpace was a social network game (for Facebook) created to promote environmentalism. The game follows the freemium model of game monetization with in-app purchases.<br />Gameplay; players select pieces of trash for their GreenSpace Corps avatar to clear. Energy is required to clear trash off the planet. Players level-up by collecting experience points. Large pieces of garbage require the player to reach higher level before they can be cleared. Players can also gain experience by completing missions.<br /><br />Awards and recognition<br />Canadian Videogame Awards 2012 - Finalist for Best Social/Casual Game.<br /><br />Also nominated for:<br />Best Visual Arts, Best Original Music, Best Indie Game, Best New Character</p>
		<img src="images/work/greenspace/greenspace-welcome-frankcastro.com.jpg" alt="GreenSpace social network game, welcome screen. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-homes-frankcastro.com.jpg" alt="GreenSpace game, isometric view of main characters, NPCs, and some structures; rocket and homes. www.frankcastro.com">
		<div class="imagedesc"><p>Main player characters, and NPCs</p></div>
	</div>
	<div class="content">
		<h1>Environments</h1>
		<br/>
		<img src="images/work/greenspace/greenspace-game-islands-frankcastro.com.jpg" alt="GreenSpace game, 4x3 grid with views of different types of islands used ingame. www.frankcastro.com">
	</div>
	<div class="content">
		<p>Floating islands were illustrated representing different areas of the planet, they were accessible as the players progressed in the game. The area of the surface was calculated using a grid. Each square in the grid contained another grid of 9x9 squares. Each of these squares were equivalent in size to the main character.</p>
		<img src="images/work/greenspace/greenspace-game-island1-frankcastro.com.jpg" alt="GreenSpace island isometric view. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-game-island2-frankcastro.com.jpg" alt="GreenSpace island isometric view. www.frankcastro.com">
	</div>
	<div class="content">
		<h1>Trees</h1>
		<br/>
		<p>Some areas on the islands had spots with tree 'fossils'. These could be respawn and grown into adult trees. On adult stage trees attracted different species (NPCs) that help players to collect materials and currency needed in the game. Other trees were grown or discover through different game mechanics.</p>
		<img src="images/work/greenspace/greenspace-game-tree-baobab-frankcastro.com.jpg" alt="GreenSpace game, Baobab tree in different stages. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-game-tree-saturn-frankcastro.com.jpg" alt="GreenSpace game, Saturn tree in different stages. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-game-tree-willow-frankcastro.com.jpg" alt="GreenSpace game, Willow tree in different stages. www.frankcastro.com">
	</div>
	<div class="content">
		<p>Players could also 'earn' trees and decorations through contests and special missions. Special trees were available for purchase in the game store.</p>
		<img src="images/work/greenspace/greenspace-game-trees-frankcastro.com.jpg" alt="GreenSpace game, other tree samples. www.frankcastro.com">
	</div>
	<div class="content">
		<h1>Energy structures</h1>
		<br/>
		<p>These represent the four energy types in the game; wind, water, geothermal, and solar. Players must build at least one of these energy structures to produce the energy the main character needed to clean each floating island. Each structure could be upgraded four times. Upgrades increased the eficiency of the structure, producing more energy in less time.</p>
		<img src="images/work/greenspace/greenspace-game-energy-structures-frankcastro.com.jpg" alt="GreenSpace social network game, Energy structures and upgrades. www.frankcastro.com">		
		<div class="imagedesc"><p> </p></div>
		<p>As the complexity of the gameplay increased, players encountered larger and harder types of garbage to clean. Most garbage could be recycled at the Processing plant, but players were also able to restore larger objects, and use them as part of the gameplay.<br /> The recycled garbage provided players with new materials and currencies needed for different game mechanics. Some garbage required special tools in order to be removed.</p>
		<img src="images/work/greenspace/greenspace-game-garbage-frankcastro.com.jpg" alt="GreenSpace game, garbage types and Processing plant. www.frankcastro.com">
	</div>
	<div class="content">
		<p>Player characters and NPCs illustrations were used ingame on pop up windows for different type of messages.</p>
		<img src="images/work/greenspace/greenspace-main-charac-illustration-frankcastro.com.jpg" alt="GreenSpace, main characters illustrations used ingame for different purposes. www.frankcastro.com">
	</div>
	<div class="content">
		<h1>Costumes</h1>
		<br/>
		<img src="images/work/greenspace/greenspace-costumes-couples-frankcastro.com.jpg" alt="GreenSpace is a social network game. www.frankcastro.com">
	</div>
</div>
	
<footer-content></footer-content>