<div class="header" nav-scroll>
	<div>
		<div class="projectTitle">
			<p>Game</p>
		</div>
		<work-link></work-link>
	</div>
</div>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>GreenSpace</p>
		</div>
		<greenspace-links></greenspace-links>
	</div>
	<div class="content">
		<!-- <h4>Character and costume designs</h4> -->
		<img src="images/work/greenspace/greenspace-welcome-frankcastro.com.jpg" alt="GreenSpace social network game, welcome screen. www.frankcastro.com">		
		<p>GreenSpace is a social network game created to promote environmentalism. The game follows the freemium model of game monetization with in-app purchases.<br />Gameplay; players select pieces of trash for their GreenSpace Corps avatar to clear. Energy is required to clear trash off the planet. Players level-up by collecting experience points. Large pieces of garbage require the player to reach higher level before they can be cleared. Players can also gain experience by completing missions.<br /><br />Awards and recognition<br />Canadian Videogame Awards 2012 - Finalist for Best Social/Casual Game.<br /><br />Also nominated for:<br />Best Visual Arts, Best Original Music, Best Indie Game, Best New Character</p>	
		<h4>Player characters and NPCs</h4>
		<img src="images/work/greenspace/greenspace-homes-frankcastro.com.jpg" alt="GreenSpace game, isometric view of main characters, NPCs, and some structures; rocket and homes. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-charac-moves-frankcastro.com.jpg" alt="GreenSpace main character isometric view, moving in different directions. www.frankcastro.com">
		<p>Player characters and NPCs illustrations were used ingame on pop up windows for different type of messages.</p>
		<img src="images/work/greenspace/greenspace-main-charac-illustration-frankcastro.com.jpg" alt="GreenSpace, main characters illustrations used ingame for different purposes. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-tin4-frankcastro.com.jpg" alt="GreenSpace game, NPC illustrations of tin4. Used in different dialogs inside the game. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-bruce-frankcastro.com.jpg" alt="GreenSpace game, Bruce Sprinclean illustrations used ingame for different purposes. www.frankcastro.com">
		<h4>Costumes</h4>
		<img src="images/work/greenspace/greenspace-costumes-couples-frankcastro.com.jpg" alt="GreenSpace is a social network game. www.frankcastro.com">
		<img src="images/work/greenspace/greenspace-costumes-frankcastro.com.jpg" alt="GreenSpace is a social network game. www.frankcastro.com">
	</div>
	<greenspace-links></greenspace-links>
	<div class="spacer"></div>
</div>

<footer-content></footer-content>