<div class="workContainer">
	<d3m-links></d3m-links>
	<div class="spacer"></div>
	<div class="content">
		<p>In this project I worked together with the D3M team implementing new features, enhancing exisiting functionality, and redesigning the overall user experience through UX research, prototyping and iterating on solutions.</p>
		<p>D3M is a collaboration solution online tool built to help technicians, project managers, sales reps, engineers, design network topology, rack and floor plan diagrams all while auto-generating project inventory, quotes, proposals and documentation. <br />For more information visit <a href="http://www.d3mnetworks.com" target="_blank">d3mnetworks.com</a></p>
		<img src="images/work/d3m/d3m-topology.png" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/d3m/d3m-rack.png" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
	</div>
	<div class="spacer"></div>
	<div class="content">
		<p>Here I show some solutions considered during the prototyping phase. Some prototypes were shared with existing users to validate new features, and gather feedback.</p>
		<p>Below - UX/UI design concept for the Rack diagram view. Created in Adobe XD. Visit link to open interactive prototype.<a href="https://xd.adobe.com/view/c2ddaba5-a726-4112-564c-9543380345d6-b4ec/" target="_blank">Visit</a></p>
		<img src="images/work/d3m/rack-view.png" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<p>Below - Topology diagram concept - connections functionality redesign. Created in Adobe XD. Visit link to open interactive prototype.<a href="https://xd.adobe.com/view/955cca2f-67fb-4b4f-64ba-25284c9f924f-e36d/" target="_blank">Visit</a></p>
		<img src="images/work/d3m/topology-diagram.png" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
	</div>
	<div class="spacer"></div>
	<div class="content">
		<p>Redesigning onboarding. This process focus on identifying the main type of users that will interact with this section of the app, understanding their goals, and re-evaluating why, how and when content is presented to the users.</p>
		<img src="images/work/d3m/d3m-process-sample.png" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<p>Visit link to open interactive prototype. Created in Adobe XD. (Some views require scroll, click on the images to show hotspot hints).<a href="https://xd.adobe.com/view/4415b027-df21-48cb-5734-2189f3bdc81e-3224/" target="_blank">Visit</a></p>
	</div>
	<div class="spacer"></div>
</div>

<footer-content></footer-content>