<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>Web Application</p>
		</div>
		<rapidphire-links></rapidphire-links>
	</div>
	<div class="content">
		<h4>D3M</h4>
		<img src="images/work/rapidphire/rapidphire-design-01-frankcastro.com.jpg" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<p>Write something in here.</p>
		<img src="images/work/rapidphire/rapidphire-design-02-frankcastro.com.jpg" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/rapidphire/rapidphire-swimlane-frankcastro.com.jpg" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
	</div>
	<div class="spacer"></div>
</div>

<footer-content></footer-content>