<nav-menu></nav-menu>
<div class="spacer"></div>
<div class="workContainer">
	<div class="projectName" nav-scroll>
		<div>
			<p>Web Application</p>
		</div>
		<d3m-links></d3m-links>
	</div>
	<div class="spacer"></div>
	<div class="content">
		<p>D3M is a collaboration solution online tool built to help technicians, project managers, sales reps, engineers, design network topology, rack and floor plan diagrams all while auto-generating project inventory, quotes, proposals and documentation. <br />For more information visit <a href="http://www.d3mnetworks.com" target="_blank">d3mnetworks.com</a><br /><br />Say what did you do for this what are you showing here... Below - Images of the actual web application.</p>
		<img src="images/work/d3m/d3m-topology.png" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/d3m/d3m-rack.png" alt="Web application. UX design by Frank Castro. www.frankcastro.com">
	</div>
	<div class="spacer"></div>
</div>

<footer-content></footer-content>