<div class="header">
	<div class="projectTitle">
		<p>iOS Application</p>
	</div>
	<div class="links">
		<div>
			<p><a href="#/home">Work</a></p>
		</div>
	</div>
</div>

<div class="workContainer">
	<div class="projectName">
		<p>Canada Aviation and Space Museum</p>
	</div>
	<div class="content">
		<img src="images/work/casm/casm-01-frankcastro.com.png" alt="Canada Aviation and Space Museum. iOS/iPhone view. Panoramic view.">
		<img src="images/work/casm/casm-02-frankcastro.com.png" alt="Canada Aviation and Space Museum. iOS/iPhone view. Panoramic view">
		<img src="images/work/casm/casm-03-frankcastro.com.png" alt="Canada Aviation and Space Museum. iOS/iPhone view. Panoramic view">
		<img src="images/work/casm/casm-04-frankcastro.com.png" alt="Canada Aviation and Space Museum. iOS/iPhone view. Panoramic view">
		<img src="images/work/casm/casm-06-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. iOS/iPhone view. Panoramic view">
		<img src="images/work/casm/casm-05-frankcastro.com.png" alt="Canada Aviation and Space Museum. iOS/iPhone view. Panoramic view">
		<img src="images/work/casm/casm-07-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. iOS/iPhone view. Panoramic view">
		<img src="images/work/casm/casm-08-frankcastro.com.png" alt="Canada Aviation and Space Museum. iOS/iPhone view. Panoramic view">
		<img src="images/work/casm/casm-09-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. iOS/iPhone view. Panoramic view">
	</div>
</div>

<footer-content></footer-content>