<div class="header" nav-scroll>
	<div class="projectTitle">
		<p>Application iOS</p>
	</div>
	<work-link></work-link>
</div>

<div class="workContainer">
	<div class="projectName">
		<p>Canada Aviation and Space Museum</p>
	</div>
	<div class="content">
		<p>The Canada Aviation and Space Museum is Canada's national aviation history museum. The museum's collection contains a wide variety of civilian and military aircraft, representing the history of Canadian aviation from the pioneer era before the First World War up to the present day.<br /><br /> The delicacy of these aircrafts keep visitors from touching the examples at the museum. After a case study performed by the museum, it was decided to address some of the key visitor's requests; the ability to look inside the cockpits. The result was this application designed for iOS mobile devices with the goal to augment the experience at the museum through a digital experience using cockpits panoramic views. This complemented other strategies to use gamification techniques and increase recurring visits.</p>
		<img src="images/work/casm/casm-01-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
		<img src="images/work/casm/casm-02-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
		<img src="images/work/casm/casm-03-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
		<p>On the panoramic view visitors can interact with the cockpits by swiping on the screen, or turning around while holding the mobile device up. Pinching on the screen allows zoom in and out. Hotspots (+) provide aditional information and facts about the aircraft and specifics about the example at the museum.</p>
		<img src="images/work/casm/casm-04-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
		<img src="images/work/casm/casm-05-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
		<img src="images/work/casm/casm-06-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
		<img src="images/work/casm/casm-07-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
		<img src="images/work/casm/casm-08-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
		<img src="images/work/casm/casm-09-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>