<div class="workContainer">
	<amuse-links></amuse-links>
	<div class="spacer"></div>
	<div class="content">
		<h1>Mobile App</h1>
		<br/>
		<p>The Canada Aviation and Space Museum is Canada's national aviation history museum. The museum's collection contains a wide variety of civilian and military aircraft, representing the history of Canadian aviation from the pioneer era before the First World War up to the present day.</p>
		<p>The museum was looking for ways to increase customer retention (recurrent visits), and find new ways to engage visitors with the museum's aircraft collection.</p>
		<p>Through a case study performed, we learned a vast majority of visitors were interested in exploring the interior of the aircrafts. This app augments the physical experience at the museum through a digital solution. Using high definition images of the cockpits we created a panoramic view of each aircraft interior and cockpits. This app was developed for iOS (iPhone and iPad).</p>
		<img ng-src="images/work/casm/casm-01-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/casm/casm-02-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/casm/casm-03-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
		<div class="imagedesc"><p>Panoramic view</p></div>
		<p>On the panoramic view visitors can interact with the cockpits by swiping on the screen, or turning around while holding the mobile device up. Pinching on the screen allows zoom in and out. Hotspots (+) provide aditional information and facts about the aircraft and specific information about the examples at the museum.</p>
	</div>
	<div class="content">
		<img ng-src="images/work/casm/casm-05-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/casm/casm-04-frankcastro.com.png" alt="Canada Aviation and Space Museum. Panoramic view. iOS application UX design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<p>An iPad version of the app was developed for museum staff, and to install on iPads that were for rental to visitors at the museum's front desk.</p>
		<img ng-src="images/work/casm/casm-07-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. Cockpit panoramic view. iPad view. iOS application UX design. By Frank Castro.">
	</div>
	<div class="content">
		<img ng-src="images/work/casm/casm-08-frankcastro.com.png" alt="Canada Aviation and Space Museum. Cockpit panoramic view. iPad view, landscape. iOS application UX design. By Frank Castro. www.frankcastro.com">
	</div>
	<div class="content">
		<img ng-src="images/work/casm/casm-09-frankcastro.com.jpg" alt="Canada Aviation and Space Museum. iPad view, cockpits guide and technical information. iOS application UX design. By Frank Castro.">
	</div>
	<div class="nextProject">
		<p><a href="#/dymon"><span>Next Project</span></a></p>
	</div>
</div>
<footer-content></footer-content>