<nav-menu></nav-menu>
<div class="workContainer">
	<div class="spacer"></div>
	<div class="content prototype">
		<h1>Prototype</h1>
		<br/>
		<p>Prototype of a landing page for Kipu Systems. I design and coded this page in AngularJS to test simultaneous events on scroll; parallax and resizing a large image at the top of the page as the user scroll down. <a href="http://www.kipu.frankcastro.com" target="_blank">Visit</a><span> (This prototype was designed for a desktop layout).</span></p>
		<a href="http://www.kipu.frankcastro.com" target="_blank"><img src="images/work/prototypes/kipu-frankcastro.com.jpg" alt="Design and code by Frank Castro. www.frankcastro.com"></a>
	</div>
	<div class="nextProject">
		<p><a href="#/websites"><span>Next Project</span></a></p>
	</div>
</div>

<footer-content></footer-content>