<nav-menu></nav-menu>
<div class="workContainer">
	<div class="spacer"></div>
	<div class="content prototype">
		<h1>Home page redesign</h1>
		<p>2017</p>
		<br/>
		<p>Kipu Systems was looking for a revamp of the home page. I designed and coded this page to explore a new look and feel, and to test simultaneous javascript events on scroll. Coded in AngularJS, events include parallax and resizing a large image at the top of the page when users scroll down. <a href="http://www.kipu.frankcastro.com" target="_blank">Visit</a><span> (desktop only).</span></p>
		<a href="http://www.kipu.frankcastro.com" target="_blank"><img src="images/work/prototypes/kipu-frankcastro.com.jpg" alt="Design and code by Frank Castro. www.frankcastro.com"></a>
	</div>
	<div class="nextProject">
		<p><a href="#/websites"><span>Next Project</span></a></p>
	</div>
</div>

<footer-content></footer-content>