<div class="projectrow">
	<div class="pageTitle">
		<h2>Current Projects</h2>
	</div>

	<div class="projects" ng-repeat="item in items">
		<!-- <div class="projectbg" ng-style="{'background-image':'url({{item.image1}})'}" parallax-background parallax-ratio="0.3"></div> -->
		<div class="projectbg" ng-style="{'background-image':'url({{item.image1}})'}"></div>
<!-- 		<div class="devicesimg" parallax parallax-ratio="-0.3" parallax-horizontal-offset="30"> -->
		<div class="devicesimg">
<!-- 			<img ng-class = "{ 'shadow': scrollPos >= 40 }" ng-src="{{item.image2}}"/> -->
			<img ng-src="{{item.image2}}" parallax parallax-ratio="-0.35"/>
			<img ng-src="{{item.image3}}" parallax parallax-ratio="-0.7"/>
			<img ng-src="{{item.image4}}" parallax parallax-ratio="-0.85"/>
		</div>
		<div class="projectInfo" parallax parallax-ratio="-0.2">
			<p>{{item.project}}</p>
			<h2>{{item.type}}</h2>
			<p>{{item.description}}</p>
			<br/>
			<p>{{item.role}}</p>
			<br/><br/>
			<a ng-href="{{item.href}}">{{item.link}}</a>
		</div>
		<div class="devicesimg">
			<img ng-src="{{item.image5}}"/>
			<img ng-src="{{item.image6}}"/>
			<img ng-src="{{item.image7}}"/>
		</div>
	</div>
</div>

<footer-content></footer-content>

<nav-menu></nav-menu>