<div class="header" nav-scroll>
	<div>
		<div class="projectTitle">
			<p>Web Application</p>
		</div>
		<work-link></work-link>
	</div>
</div>

<div class="workContainer">
	<div class="projectName">
		<p>Rapidphire</p>
	</div>
	<div class="content">
		<img src="images/work/rapidphire/rapidphire-concept-00.jpg" alt="Web application, design concept. UX design by Frank Castro. www.frankcastro.com">
		<p>Layout design concept</p>
		<img src="images/work/rapidphire/rapidphire-concept-01.jpg" alt="Web application, design concept. UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/rapidphire/rapidphire-concept-02.jpg" alt="Web application, design concept. UX design by Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>