<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName" nav-scroll>
		<div>
			<p>Web Application</p>
		</div>
		<rapidphire-links></rapidphire-links>
	</div>
	<div class="spacer2"></div>
	<div class="content">
		<p>A few samples of the UI concepts explored during the initial redesign process.</p>
		<img src="images/work/rapidphire/rapidphire-concept-frankcastro.com.jpg" alt="Web application, design concept. UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/rapidphire/rapidphire-concept2-frankcastro.com.jpg" alt="Web application, design concept. UX design by Frank Castro. www.frankcastro.com">
		<img src="images/work/rapidphire/rapidphire-concept3-frankcastro.com.jpg" alt="Web application, design concept. UX design by Frank Castro. www.frankcastro.com">		
	</div>
	<div class="spacer"></div>
</div>

<footer-content></footer-content>