<div class="workContainer">
	<vispol-links></vispol-links>
	<div class="spacer"></div>
	<div class="content prototype">
		<p>Playing with <a href="https://en.wikipedia.org/wiki/Visibility_polygon" target="_blank">Visibility polygon</a> in Javascript. From library in <a href="https://github.com/byronknoll/visibility-polygon-js" target="_blank">Github by Byron Knoll</a>. The word Design is shaped by little polygons. I built this prototype to test the performance of the browser in a design with a large number of polygons. Drag the red circle to move the 'light' source. Please note, it may take a few seconds to load. <a href="http://www.vis-pol.frankcastro.com" target="_blank">Visit!</a><span> (Work best on desktop browsers).</span></p>
		<a href="http://www.vis-pol.frankcastro.com" target="_blank"><img src="images/work/prototypes/polygons-frankcastro.com.jpg" alt="Playing with visibility polygons. Experiment by Frank Castro. www.frankcastro.com"></a>
	</div>
</div>

<footer-content></footer-content>