<div class="workContainer">
	<vispol-links></vispol-links>
	<div class="spacer"></div>
	<div class="content prototype">
		<p>Playing with <a href="https://en.wikipedia.org/wiki/Visibility_polygon" target="_blank">Visibility polygon</a> in Javascript. From library in <a href="https://github.com/byronknoll/visibility-polygon-js" target="_blank">Github by Byron Knoll</a>. It may take a few seconds to load. Drag the red circle around to see the lines redrawing. <a href="http://www.vis-pol.frankcastro.com" target="_blank">Visit!</a><span> (Visible on desktop only).</span></p>
		<a href="http://www.vis-pol.frankcastro.com" target="_blank"><img src="images/work/prototypes/polygons-frankcastro.com.jpg" alt="Playing with visibility polygons. Experiment by Frank Castro. www.frankcastro.com"></a>

<!-- 
		<p>  Prototype of a home page - not responsive. Design and code. Once the initial design concepts where approved, I coded this page in AngularJS to test simultaneous events on scroll; parallax and resizing a large image at the top of the page as the user scroll down. <a href="http://www.kipu.frankcastro.com" target="_blank">Visit</a><span> This prototype is visible on desktop only.</span></p>
		<img src="images/work/prototypes/kipu-frankcastro.com.jpg" alt="Dymon Storage iOS application. UX design by Frank Castro. www.frankcastro.com"> -->
	</div>
</div>

<footer-content></footer-content>