<nav-menu></nav-menu>
<div class="workContainer">
	<div class="spacer"></div>
	<div class="content prototype">
		<h1>Random</h1>
		<br/>
		<p>I found this javascript library and I wanted to see how it would perform with a larger number of polygons. From library; <a href="https://github.com/byronknoll/visibility-polygon-js" target="_blank">Github</a>. The word Design is shaped by little polygons. Drag the red circle to move the 'light' source. Please note, it may take a few seconds to load. <a href="http://www.vis-pol.frankcastro.com" target="_blank">Visit!</a><span> (Work best on desktop browsers).</span></p>
		<a href="http://www.vis-pol.frankcastro.com" target="_blank"><img src="images/work/prototypes/polygons-frankcastro.com.jpg" alt="Playing with visibility polygons. Experiment by Frank Castro. www.frankcastro.com"></a>
	</div>
	<div class="nextProject">
		<p><a href="#/prototype"><span>Next Project</span></a></p>
	</div>
</div>

<footer-content></footer-content>