<nav-menu></nav-menu>

<div class="workContainer">
	<div class="projectName">
		<div>
			<p>Prototypes</p>
		</div>
		<!-- <h4>Rapidphire Web Application</h4> -->
		<prototypes-links></prototypes-links>
	</div>
	<div class="content prototype">
		<p>Example of a prototype - not responsive. Design and code. One of several prototypes iterations I created during concept development of Rapidphire (web application), to test different aspects of interaction. In this case, headers functionality and scroll events. <a href="http://www.rapidphire.frankcastro.com" target="_blank">Visit</a><span> This prototype is visible on desktop only.</span></p>
		<img src="images/work/prototypes/rapidphire-frankcastro.com.jpg" alt="Dymon Storage iOS application. UX design by Frank Castro. www.frankcastro.com">
	</div>
</div>

<footer-content></footer-content>